@model DAL.ART_M_EMAIL_TEMPLATE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ART_M_EMAIL_TEMPLATE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_TEMPLATE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_TEMPLATE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_SUBJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_SUBJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_DEAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_DEAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_07)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_BODY_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_BODY_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_SIGNATURE_01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_SIGNATURE_01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_SIGNATURE_02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_SIGNATURE_02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_SIGNATURE_03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_SIGNATURE_03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_SIGNATURE_04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_SIGNATURE_04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_BY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMAIL_TEMPLATE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
