@model DAL.ART_M_RECEIVE_EMAIL_NEW_CUSTOMER

@{
    ViewBag.Title = "Receiver email new customer";
}

<h4>Create receiver email new customer</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="cls_show_error form-group">
            <div class="col-md-offset-2 col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Username<span style="color:red;">*</span>  : </label>
            <div class="col-md-10">
                @{
                    using (var context = new DAL.ARTWORKEntities())
                    {
                        @Html.DropDownListFor(model => model.USER_ID,
                                new SelectList(BLL.Services.CNService.GetAllInternalUser(context),
                                "USER_ID", "DISPLAY_TXT"),
                                "Select...",
                                new { @class = "form-control" })
                    }
                }
                @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button> |
                @Html.ActionLink("Back to list", "Index")
            </div>
        </div>
    </div>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            bind_lov_no_ajax('#USER_ID', 'Select...', '');
        });
    </script>
}