@model DAL.Model.ART_M_USER_2
@using DAL;
@{
    ViewBag.Title = "Create user";
}

<h4>Create user</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("position_", new { @value = ViewBag.ObjPosition })

    <div class="form-horizontal">
        <hr />
        <div class="cls_show_error form-group">
            <div class="col-md-offset-2 col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.ObjPosition == "Customer")
        {
            <div class="form-group">
                <label class="control-label col-md-2 cls_hide">Password<span style="color:red;">*</span>  : </label>
                <div class="col-md-7 cls_hide">
                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control make-pass", @Value = "1234", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 cls_lbl_vendor">Customer<span style="color:red;">*</span>  : </label>
                <div class="col-md-7">
                    @using (var context = new ARTWORKEntities())
                    {
                        @Html.DropDownListFor(model => model.USERNAME,
                                                 new SelectList(BLL.Services.CNService.GetAllCustomer(context),
                                                 "CUSTOMER_CODE", "DISPLAY_TXT"),
                                                 "Select...",
                                                 new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(model => model.USERNAME, "Customer is required", new { @class = "text-danger" })
                </div>
            </div>
        }
        else if (ViewBag.ObjPosition == "Vendor")
        {
            <div class="form-group">
                <label class="control-label col-md-2 cls_hide">Password<span style="color:red;">*</span>  : </label>
                <div class="col-md-7 cls_hide">
                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control make-pass", @Value = "1234", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 cls_lbl_vendor">Vendor<span style="color:red;">*</span>  : </label>
                <div class="col-md-7">
                    @using (var context = new ARTWORKEntities())
                    {
                        @Html.DropDownListFor(model => model.USERNAME,
                                    new SelectList(BLL.Services.CNService.GetAllVendor(context),
                                    "VENDOR_CODE", "DISPLAY_TXT"),
                                    "Select...",
                                    new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(model => model.USERNAME, "Vendor is required", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-md-2">Username<span style="color:red;">*</span>  : </label>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Password<span style="color:red;">*</span>  : </label>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control make-pass" } })
                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Title : </label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TITLE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">First name<span style="color:red;">*</span>  : </label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last name<span style="color:red;">*</span>  : </label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email<span style="color:red;">*</span>  : </label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Position<span style="color:red;">*</span>  : </label>
            <div class="col-md-7">
                @{
                    using (var context = new ARTWORKEntities())
                    {
                        if (ViewBag.ObjPosition == "Admin")
                        {
                            @Html.DropDownListFor(model => model.POSITION_ID,
                                               new SelectList(ART_M_POSITION_SERVICE.GetAll(context),
                                               "ART_M_POSITION_ID", "ART_M_POSITION_NAME"),
                                               "Select...",
                                               new { @class = "form-control", style = "width:100%" })
                        }
                        else if (ViewBag.ObjPosition == "Vendor")
                        {
                            @Html.DropDownListFor(model => model.POSITION_ID,
                                             new SelectList(ART_M_POSITION_SERVICE.GetByItem(new ART_M_POSITION() { ART_M_POSITION_CODE = "VENDOR" }, context),
                                             "ART_M_POSITION_ID", "ART_M_POSITION_NAME"),
                                             new { @class = "form-control" })
                        }
                        else if (ViewBag.ObjPosition == "Customer")
                        {
                            @Html.DropDownListFor(model => model.POSITION_ID,
                                             new SelectList(ART_M_POSITION_SERVICE.GetByItem(new ART_M_POSITION() { ART_M_POSITION_CODE = "CUSTOMER" }, context),
                                             "ART_M_POSITION_ID", "ART_M_POSITION_NAME"),
                                             new { @class = "form-control", style = "width:100%" })
                        }
                        else if (ViewBag.ObjPosition == "Internal")
                        {
                            var listInternal = ART_M_POSITION_SERVICE.GetAll(context);
                            listInternal = (from u1 in listInternal
                                            where (u1.ART_M_POSITION_CODE != "CUSTOMER" && u1.ART_M_POSITION_CODE != "VENDOR")
                                            select u1).ToList();
                            @Html.DropDownListFor(model => model.POSITION_ID,
                                             new SelectList(listInternal,
                                             "ART_M_POSITION_ID", "ART_M_POSITION_NAME"),
                                             "Select...",
                                             new { @class = "form-control", style = "width:100%" })
                        }
                    }
                }
                @Html.ValidationMessageFor(model => model.POSITION_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                    <label class="control-label col-md-2">Is active : </label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.IS_ACTIVE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IS_ACTIVE, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                        @Html.LabelFor(model => model.CREATE_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CREATE_DATE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CREATE_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CREATE_BY, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CREATE_BY, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CREATE_BY, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UPDATE_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UPDATE_DATE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UPDATE_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UPDATE_BY, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UPDATE_BY, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UPDATE_BY, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button> |
                @{
                    if (ViewBag.ObjPosition == "Customer")
                    {
                        @Html.ActionLink("Back to list", "Customer")
                    }
                    else if (ViewBag.ObjPosition == "Vendor")
                    {
                        @Html.ActionLink("Back to list", "Vendor")
                    }
                    else if (ViewBag.ObjPosition == "Internal")
                    {
                        @Html.ActionLink("Back to list", "Internal")
                    }
                    else if (ViewBag.ObjPosition == "Admin")
                    {
                        @Html.ActionLink("Back to list", "Index")
                    }
                    @*else
                        {
                            @Html.ActionLink("Back to list", "User")
                        }*@
                }

            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(".make-pass").attr("type", "password");

        $(document).ready(function () {
            if ($('.cls_lbl_vendor').is(':visible')) {
                bind_lov_no_ajax('#USERNAME', 'Select...', '');
            }
            bind_lov_no_ajax('#POSITION_ID', 'Select...', '');
        });
                                                            //$(".make-pass").attr("required", true);
    </script>
}
