@using Microsoft.AspNet.Identity;
@{
    /**/
    ViewBag.Title = "Dashboard";
}
@*<button type="button" class="cls_btn_upload_artwork_file btn btn-success">Upload Artwork Files</button>*@
@*<button type="button" class="btn btn-info">Request Die Line</button>*@
<div class="row">
    <div class="col-md-6">
        <div class="cls_btn_home_page cls_hide">
            @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
            {
                @Html.ActionLink("Create check list form", "Index", "CheckList", null, new { @target = "_blank", @class = "btn btn-warning cls_hide cls_btn_create_check_list", @style = "color:#fff;text-decoration: none;margin-right:3px;" })
                @Html.ActionLink("Upload artwork files", "Index", "ArtworkUpload", null, new { @target = "_blank", @class = "btn btn-warning cls_hide cls_btn_upload_file_artwork", @style = "color:#fff;text-decoration: none;" })
                <button type="button" class="btn btn-warning cls_hide cls_btn_sendtopp">Send to PP</button>
                <button type="button" class="btn btn-warning cls_hide cls_btn_sendtovendor">Send to vendor</button>
                @Html.ActionLink("Create IGrid", "Index", "IGridCreate", null, new { @target = "_blank", @class = "btn btn-primary cls_hide cls_btn_create_igrid", @style = "color:#fff;text-decoration: none;" })
                @*@Html.ActionLink("Create IGrid", "Index", "IGrid", null, new { @target = "_blank", @class = "btn btn-primary cls_hide cls_btn_create_igrid", @style = "color:#fff;text-decoration: none;" })*@
            }
            @if (ViewBag.POSITION_DISPLAT_TXT == "Customer")
            {
                @Html.ActionLink("Upload artwork files", "Index", "ArtworkUpload", null, new { @target = "_blank", @class = "btn btn-warning cls_hide cls_btn_upload_file_artwork", @style = "color:#fff;text-decoration: none;" })

            }
            <button type="button" class="btn btn-default cls_show_hide_graph">Show/hide graph</button>

            @*<button type="button" class="btn btn-primary cls_btn_create_igrid">Create IGrid</button>*@
        </div>
    </div>
    <div style="text-align:right;" class="cls_row_chart col-md-6">
        <div class="cls_chart_view cls_hide">
            @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
            {
                <select style="width:85px;display: inline;" class="cls_hand cls_ddl_chart_view form-control">
                    <option value="pg">PG view</option>
                    <option value="pa">PA view</option>
                    <option value="mk">MK view</option>
                </select>
            }
        </div>
    </div>
</div>

<div class="row cls_row_chart">
    <div style="text-align:left;" class="col-md-6 cls_hide cls_home_chart_pie">
        <div id="div_piechart"></div>
    </div>
    <div style="text-align:right;" class="col-md-6 cls_hide cls_home_chart_bar">
        @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
        {
            <div class="cls_columnchart_pg" id="div_columnchart_pg"></div>
            <div class="cls_columnchart_pa" id="div_columnchart_pa"></div>
            <div class="cls_columnchart_mk" id="div_columnchart_mk"></div>
        }
    </div>
</div>


@using (var context = new DAL.ARTWORKEntities())
{
    if (BLL.Services.CNService.HasPermission(BLL.Services.CNService.GetUserID2(User.Identity.GetUserName(), context), "OUTSTANDING", context))
    {
        <div class="row">
            <div class="col-md-12 text-right">
                @Html.ActionLink("Outstanding report", "Outstanding", "Report", null, new { @style = "font-weight: bold;", target = "_blank" })
            </div>
        </div>
    }
}


<div class="dataTables_filter dataTables_filter_dashboard">
    <table class="columns" style="width:100%">
        <tr>
            @*<td><h4>My Assignment</h4></td>*@
            <td><h4></h4></td>
            <td align="right">
                <label>
                    Search:
                    <input type="text" class="global_filter" id="global_filter">
                </label>
            </td>
        </tr>
    </table>
</div>

<ul class="nav nav-tabs">
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <li class="cls_hide cls_li_inbox">
            <a href="#view_incoming_inbox" data-toggle="tab"><span class="cls_cnt_incoming_inbox"></span>Inbox <span class="badge badge-error cls_badge_warning_so_change cls_hide" title="SO changed"></span></a>
        </li>
        <li class="cls_hide cls_li_inbox_sent_pp">
            <a href="#view_incoming_inbox_sent_pp" data-toggle="tab"><span class="cls_cnt_incoming_inbox_sent_pp"></span>Inbox (Sent PP) <span class="badge badge-error cls_badge_warning_so_change_sent_pp cls_hide" title="SO changed"></span></a>
        </li>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Vendor")
    {
        <li class="cls_hide cls_li_inbox_vendor">
            <a href="#view_incoming_inbox_vendor" data-toggle="tab"><span class="cls_cnt_incoming_inbox_vendor"></span>Inbox</a>
        </li>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Customer")
    {
        <li class="cls_hide cls_li_inbox_customer">
            <a href="#view_incoming_inbox_customer" data-toggle="tab"><span class="cls_cnt_incoming_inbox_customer"></span>Inbox</a>
        </li>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <li class="cls_hide cls_li_incoming_mockup">
            <a href="#view_incoming_mockup" data-toggle="tab"><span class="cls_cnt_incoming_mockup"></span>Incoming mockup</a>
        </li>
        <li class="cls_hide cls_li_incoming_artwork">
            <a href="#view_incoming_artwork" data-toggle="tab"><span class="cls_cnt_incoming_artwork"></span>Incoming artwork</a>
        </li>
        <li class="cls_hide cls_li_incoming_artwork_for_pg">
            <a href="#view_incoming_artwork_for_pg" data-toggle="tab"><span class="cls_cnt_incoming_artwork_for_pg"></span>Incoming artwork</a>
        </li>
        <li class="cls_hide cls_li_incoming_so_new">
            <a href="#view_so_new" data-toggle="tab"><span class="cls_cnt_incoming_so_new"></span>Incoming sales order (new)</a>
        </li>
        <li class="cls_hide cls_li_incoming_so_repeat">
            <a href="#view_so_repeat" data-toggle="tab"><span class="cls_cnt_incoming_so_repeat"></span>Incoming sales order (repeat)</a>
        </li>
        <li class="cls_hide cls_li_igird cls_tab_igrid">
            <a href="#view_igrid" data-toggle="tab"><span class="cls_cnt_igrid_view"></span>IGrid Inbox</a>
        </li>
        <li class="cls_hide cls_li_igird_infogroup cls_tab_igrid">
            <a href="#view_igrid_infogroup" data-toggle="tab"><span class="cls_cnt_igrid_infogroup_view"></span>IGrid InfoGroup Inbox</a>
        </li>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Vendor")
    {
        <li class="cls_hide cls_li_vendor_po_received">
            <a href="#view_vendor_po_received" data-toggle="tab"><span class="cls_cnt_vendor_po_received"></span>PO received</a>
        </li>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <li class="cls_hide cls_li_pp_view">
            <a href="#view_pp_view" data-toggle="tab"><span class="cls_cnt_pp_view"></span>PP view</a>
        </li>
    }
</ul>
<div class="cls_page_dashboard tab-content" style="min-height:380px;">
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <div class="tab-pane" id="view_incoming_inbox">
            @Html.Partial("IncomingInbox")
        </div>
        <div class="tab-pane" id="view_incoming_inbox_sent_pp">
            @Html.Partial("IncomingInboxSentPP")
        </div>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Vendor")
    {
        <div class="tab-pane" id="view_incoming_inbox_vendor">
            @Html.Partial("IncomingInboxVendor")
        </div>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Customer")
    {
        <div class="tab-pane" id="view_incoming_inbox_customer">
            @Html.Partial("IncomingInboxCustomer")
        </div>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <div class="tab-pane" id="view_incoming_mockup">
            @Html.Partial("IncomingMockup")
        </div>
        <div class="tab-pane" id="view_incoming_artwork">
            @Html.Partial("IncomingArtwork")
        </div>
        <div class="tab-pane" id="view_so_new">
            @Html.Partial("SONew")
        </div>
        <div class="tab-pane" id="view_so_repeat">
            @Html.Partial("SORepeat", new List<PLL.Models.Client>())

        </div>
        <div class="tab-pane" id="view_incoming_artwork_for_pg">
            @Html.Partial("IncomingArtworkForPG")
        </div>
        <div class="tab-pane" id="view_igrid">
            @Html.Partial("IGridView")
        </div>
        <div class="tab-pane" id="view_igrid_infogroup">
            @Html.Partial("InfoGroup")
        </div>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Vendor")
    {
        <div class="tab-pane" id="view_vendor_po_received">
            @Html.Partial("VendorPOReceived")
        </div>
    }
    @if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
    {
        <div class="tab-pane" id="view_pp_view">
            @Html.Partial("PPView")
        </div>
    }
</div>

@if (ViewBag.POSITION_DISPLAT_TXT == "Internal")
{
    @Html.Partial("DashboardPopup")
}
@section scripts {
    @Scripts.Render("~/bundles/dashboard")
}
