@*@model IEnumerable<PLL.Models.Client>
@using GridMvc.Html*@

    <div class="row">
        <div style="width: 150px;" class="col-md-2">
            SO create date from :
            <input style="width:120px;" class="cls_my_datepicker form-control cls_so_repeat_create_date_from" />
        </div>
        <div style="width: 150px;" class="col-md-2">
            SO create date to :
            <input style="width:120px;" class="cls_my_datepicker form-control cls_so_repeat_create_date_to" />
        </div>
        <div style="width: 150px;" class="col-md-2">
            RDD from :
            <input style="width:120px;" class="cls_my_datepicker form-control cls_so_repeat_rdd_from" />
        </div>
        <div style="width: 150px;" class="col-md-2">
            RDD to :
            <input style="width:120px;" class="cls_my_datepicker form-control cls_so_repeat_rdd_to" />
        </div>
        <div style="width: 150px;" class="col-md-2">
            Packaging type :
            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_artwork_packaging_type" } })
        </div>
        <div style="width: 150px;" class="col-md-2">
            Sold to :
            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_artwork_sold_to" } })
        </div>
        <div style="width: 150px;" class="col-md-2">
            Ship to :
            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_artwork_ship_to" } })
        </div>
        <div style="width: 150px;" class="col-md-2">
            Brand :
            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_artwork_brand" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Submit type :
            <select class="cls_lov_submit_type" style="width:100%;">
                <option value="submit">Submit</option>
                <option value="submit_complete">Submit and complete</option>
                <option value="submit_send_to_pp">Submit and send to PP</option>
            </select>
        </div>
        <div style="width: 150px;" class="col-md-2">
            Grouping :
            <select class="cls_lov_so_repeat_group" style="width:120px;">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary cls_btn_search_so_repeat">Search</button>
        <button type="button" class="btn btn-warning cls_btn_unselect_so_repeat">Unselect all</button>
        <button type="button" class="btn btn-success cls_btn_select_so_repeat">Selected</button>
        <button type="button" class="btn btn-info cls_btn_excel_so_repeat">Export excel</button>
        <button type="button" class="btn btn-success cls_btn_select_so_repeat_tuning">Selected Tuning</button>
    </div>
</div>
<table id="table_so_repeat" class="display" style="width:100%;">
    <thead>
        <tr>
            <th class="cls_nowrap"></th>
            <th class="cls_nowrap">No.</th>
            <th class="cls_nowrap"></th>
            <th class="cls_nowrap"></th>
            <th class="cls_nowrap">SO number</th>
            <th class="cls_nowrap">SO item</th>
            <th class="cls_nowrap">Product code</th>
            <th class="cls_nowrap">Sales org</th>
            <th class="cls_nowrap">Production Plant</th>
            <th class="cls_nowrap">Sold to name</th>
            <th class="cls_nowrap">Ship to name</th>
            <th class="cls_nowrap">Brand</th>
            <th class="cls_nowrap">Additional brand</th>
            <th class="cls_nowrap">Country</th>
            <th class="cls_nowrap">In transit to</th>
            <th class="cls_nowrap">Item</th>
            <th class="cls_nowrap">Order bom</th>
            <th class="cls_nowrap">Component description</th>
            <th class="cls_nowrap">Stock</th>
            <th class="cls_nowrap">Quantity</th>
            <th class="cls_nowrap">Action</th>
            <th class="cls_nowrap">Create on</th>
            <th class="cls_nowrap">RDD</th>

            <th class="cls_nowrap">Recheck A/W</th>
            <th class="cls_nowrap"></th>
        </tr>
    </thead>
</table>
@*@{
    if (Model != null)
    {
    <div style="width:500px;">
        @Html.Grid(Model).Named("SORepeat").Columns(columns =>
   {
       columns.Add()
  .Titled("<input name=allChk type=checkbox id=cbSelectAll />")
  .Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(c => Html.CheckBox("checked", false, new { id = "checkBox" })).SetWidth(100);
       columns.Add(c => c.Id).Titled("Client ID");
       columns.Add(c => c.Name).Titled("Name").Sortable(true).Filterable(true);
       columns.Add(c => c.Email).Titled("Email");
   }).WithPaging(50).Sortable(true).EmptyText("No data found")
    </div>
        }
    }*@
        <div class="modal so_repeat" id="modal_for_information" tabindex="-1" role="dialog" aria-labelledby="modal_for_information">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal_for_information">Information</h4>
                    </div>
                    <div style="padding: 7px 10px;" class="cls_display_information">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cls_btn_submit_send_pp btn btn-primary cls_hide">Submit</button>
                        @*<button type="button" class="cls_btn_close_send_pp btn btn-default cls_hide" data-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>
