<div class="cls_task_form_intdep" style="padding-top:10px;">
    <div class="row cls_rdmu_row cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">R&D</h3>
                </div>
                <div class="panel-body">
                    <div class="cls_div_only_rd cls_hide">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="cls_rdmu_btn_send_primary btn btn-success">Send primary packaging</button>
                                <button type="button" class="cls_rdmu_btn_send_back btn btn-warning">Send back workflow</button>
                                <button type="button" class="cls_rdmu_btn_save btn btn-info">Save & send information</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_RD_PRI_PKG" class="btn btn-default">View/upload attachment</button>
                        </div>
                    </div>
                    <div class="cls_div_only_rd cls_hide">
                        <div class="row">
                            <div class="col-md-2 control-label">
                                Reason for revise/cancel/overdue :
                            </div>
                            <div class="col-md-5">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_other" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 control-label">
                                Final sample :
                            </div>
                            <div class="col-md-10">
                                <label class="radio-inline"><input type="radio" name="rd_final_sample" value="1">Yes</label>
                                <label class="radio-inline"><input type="radio" name="rd_final_sample" value="0">No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 control-label">
                                Type of sample :
                            </div>
                            <div class="col-md-10">
                                <label class="radio-inline"><input type="radio" name="rd_type_of_sample" value="RD">RD sample</label>
                                <label class="radio-inline"><input type="radio" name="rd_type_of_sample" value="PRD">Production sample</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Comment :
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control cls_rdmu_txt_comment" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("ColorInfo")
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_rd_log" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="cls_nowrap cls_th_log_by_pg">No.</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Remark reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Comment by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                                        <th class="cls_nowrap">Action name</th>
                                        <th class="cls_nowrap">Reason</th>
                                        <th class="cls_nowrap">Remark reason</th>
                                        <th class="cls_nowrap">Final sample</th>
                                        <th class="cls_nowrap">Type of sample</th>
                                        <th class="cls_nowrap">Comment by RD</th>
                                        <th class="cls_nowrap">Created date-time</th>
                                        @*<th class="cls_nowrap">Create by</th>*@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row cls_plnmu_row cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Planning</h3>
                </div>
                <div class="panel-body">
                    <div class="cls_div_only_pn cls_hide">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="cls_plnmu_btn_send_primary btn btn-success">Send primary packaging</button>
                                <button type="button" class="cls_plnmu_btn_send_back btn btn-warning">Send back workflow</button>
                                <button type="button" class="cls_plnmu_btn_save btn btn-info">Save & send information</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_PN_PRI_PKG" class="btn btn-default">View/upload attachment</button>
                        </div>
                    </div>
                    <div class="cls_div_only_pn cls_hide">
                        <div class="row">
                            <div class="col-md-2 control-label">
                                Reason for revise/cancel/overdue :
                            </div>
                            <div class="col-md-5">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_other" }  })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Comment :
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control cls_plnmu_txt_comment" rows="5"></textarea>
                            </div>
                        </div>
                    </div>          
                    @Html.Partial("ColorInfo")
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_pn_log" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="cls_nowrap cls_th_log_by_pg">No.</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Remark reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Comment by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                                        <th class="cls_nowrap">Action name</th>
                                        <th class="cls_nowrap">Reason</th>
                                        <th class="cls_nowrap">Remark reason</th>
                                        <th class="cls_nowrap">Comment by planning</th>
                                        <th class="cls_nowrap">Created date-time</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row cls_whmu_row cls_hide">
        <form>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Warehouse</h3>
                    </div>
                    <div class="panel-body">

                        <div class="cls_div_only_wh cls_hide">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="cls_whmu_btn_submit btn btn-primary">Submit</button>
                                    <button type="button" class="cls_whmu_btn_send_back btn btn-warning">Send back workflow</button>
                                    <button type="button" class="cls_whmu_btn_save btn btn-info">Save & send information</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_WH_TEST_PACK" class="btn btn-default">View/upload attachment</button>
                            </div>
                        </div>
                        <div class="cls_div_only_wh cls_hide">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="checkbox-inline"><input disabled type="checkbox" class="cls_chk_confirm_size">เพื่อยืนยันขนาด</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="checkbox-inline"><input disabled type="checkbox" class="cls_chk_easy">เพื่อตรวจสอบความยาก/ง่าย ในการบรรจุ</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Customer :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_customer" />
                                </div>
                                <div class="col-md-3 control-label">
                                    Brand :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_brand" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Primary type :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_primary_type" />
                                </div>
                                <div class="col-md-3 control-label">
                                    Supplier primary container :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_supplier_primary_container" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Primary size :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_primary_size" />
                                </div>
                                <div class="col-md-3  control-label">
                                    Supplier primary lid :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_supplier_primary_lid" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Pack size :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_pack_size" />
                                </div>
                                <div class="col-md-3 control-label">
                                    Packaging type :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_packaging_type" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Packaging style :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_packaging_style" />
                                </div>
                                <div class="col-md-3  control-label">
                                    Grade of :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_grade" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Net weight :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_net_weight" />
                                </div>
                                <div class="col-md-3 control-label">
                                    Dimension of (LXWXH)(mm.) :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="form-control cls_wh_dimension_of" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    สิ่งที่จัดส่งไปโรงงาน :
                                </div>
                                <div class="col-md-9">
                                    <input disabled type="text" class="form-control cls_wh_remark" />
                                </div>
                            </div>
                        </div>
                        <div class="cls_div_only_wh cls_hide">
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise/cancel/overdue :
                                </div>
                                <div class="col-md-5">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_other" }  })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Receive Physical for test pack :
                                </div>
                                <div class="col-md-9">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_whmu_chk_received" value="">Received</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Test pack result :
                                </div>
                                <div class="col-md-9">
                                    <label class="radio-inline"><input type="radio" name="whmu_rdo_test_pack_result" value="1">Pass</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-1">
                                    <label class="radio-inline"><input type="radio" name="whmu_rdo_test_pack_result" value="0">Fail</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_whmu_lov_test_pack_result_reject" } })
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-offset-3 col-md-9">
                                    <label class="error cls_error" for="whmu_rdo_test_pack_result"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    ผลทดสอบความยาก/ง่าย :
                                </div>
                                <div class="col-md-4">
                                    <label class="radio-inline"><input type="radio" name="wh_difficult" value="1">ยาก</label>
                                    <label class="radio-inline"><input type="radio" name="wh_difficult" value="0">ง่าย</label>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-offset-3 col-md-9">
                                    <label class="error cls_error" for="wh_difficult"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Comment :
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control cls_whmu_txt_comment" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Need to commissioning packaging :
                                </div>
                                <div class="col-md-4">
                                    <label class="radio-inline"><input type="radio" name="wh_need_to_com" value="1">Yes</label>
                                    <label class="radio-inline"><input type="radio" name="wh_need_to_com" value="0">No</label>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-offset-3 col-md-9">
                                    <label class="error cls_error" for="wh_need_to_com"></label>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("ColorInfo")
                        <div class="row">
                            <div class="col-md-12">
                                <table id="table_wh_log" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="cls_nowrap cls_th_log_by_pg">No.</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">เพื่อยืนยันขนาด</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">เพื่อตรวจสอบ<br />ความยาก/ง่าย ในการบรรจุ</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Supplier<br />primary container</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Supplier<br />primary lid</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">สิ่งที่จัดส่งไปโรงงาน</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Reason by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Remark reason by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Comment by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                                            <th class="cls_nowrap">Action name</th>
                                            <th class="cls_nowrap">Reason</th>
                                            <th class="cls_nowrap">Remark reason</th>
                                            <th class="cls_nowrap">Receive physical<br />for test pack</th>
                                            <th class="cls_nowrap">Test pack result</th>
                                            <th class="cls_nowrap">Need to<br />commissioning<br />packaging</th>
                                            <th class="cls_nowrap">ผลทดสอบ<br />ความยาก/ง่าย</th>
                                            <th class="cls_nowrap">Comment</th>
                                            <th class="cls_nowrap">Create date-time</th>
                                            @*<th class="cls_nowrap">Create by</th>*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row cls_pg_sup_row cls_hide">
        <form>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select vendor need design (PG supervisor)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row cls_only_pg_sup cls_hide">
                            <div class="col-md-6">
                                @*   <button type="button" class="cls_btn_reset_vendor_pg_sup btn btn-danger">Clear</button>*@
                                <button type="button" class="btn cls_btn_save_vendor_pg_sup btn-info">Save</button>
                                <button type="submit" class="btn cls_btn_submit_vendor_pg_sup btn-primary">Submit</button>
                                <button type="button" class="cls_btn_send_back_vendor_pg_sup btn btn-warning">Send back workflow</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_PG_SUP_SEL_VENDOR_NEED_DESIGN" class="btn btn-default">View/upload attachment</button>
                            </div>
                        </div>

                        <div class="row cls_only_pg_sup cls_hide">
                            <div class="col-md-2 control-label">
                                Reason for revise/cancel/overdue :
                            </div>
                            <div class="col-md-5">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_other" }  })
                            </div>
                        </div>

                        <div class="row cls_only_pg_sup cls_hide">
                            <div class="col-md-2 control-label">Vendor<span style="color:red;">*</span> : </div>
                            <div class="col-md-5">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_vendor_pg_sup" } })
                            </div>
                        </div>

                        <div class="row cls_only_pg_sup cls_hide">
                            <div class="col-md-2 control-label">Remark : </div>
                            <div class="col-md-10">
                                <textarea cols="10" rows="3" class="cls_txt_remark_select_vendor_sup form-control"></textarea>
                            </div>
                        </div>




                        @*<div class="row">
                        <div class="col-md-12">
                            <table class="cls_table_user_vendor_pg_sup display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>
                                            Vendor name
                                        </th>
                                        <th>
                                            User name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th style="display:none;">

                                        </th>
                                        <th style="display:none;">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>*@
                        @Html.Partial("ColorInfo")
                        <div class="row">
                            <div class="col-md-12">
                                <table class="cls_table_user_vendor_pg_sup_log display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="cls_nowrap cls_th_log_by_pg">No.</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Reason by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Remark reason by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Comment by PG</th>
                                            <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                                            <th class="cls_nowrap">Action name</th>
                                            <th class="cls_nowrap">Reason</th>
                                            <th class="cls_nowrap">Remark reason</th>
                                            <th class="cls_nowrap">Vendor</th>
                                            <th class="cls_nowrap">Comment by PG supervisor</th>
                                            <th class="cls_nowrap">Created date-time</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row cls_manager_approve_matchboard_row cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Manager approve match board</h3>
                </div>
                <div class="panel-body">
                    <div class="cls_div_only_manager_approve_matchboard cls_hide">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="cls_btn_approve btn btn-success">Approve</button>
                                <button type="button" class="cls_btn_not_approve btn btn-danger">Not approve</button>
                                <button type="button" class="cls_btn_send_back btn btn-warning">Send back workflow</button>
                                <button type="button" class="cls_btn_save btn btn-info">Save & send information</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_APP_MATCH_BOARD" class="btn btn-default">View/upload attachment</button>
                        </div>
                    </div>
                    <div class="cls_div_only_manager_approve_matchboard cls_hide">
                        <div class="row">
                            <div class="col-md-2 control-label">
                                Reason for revise/cancel/overdue :
                            </div>
                            <div class="col-md-5">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_other" }  })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Comment :
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control cls_manager_approve_matchboard_txt_comment" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("ColorInfo")
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_approve_matchboard_log" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="cls_nowrap cls_th_log_by_pg">No.</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Remark reason by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Comment by PG</th>
                                        <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                                        <th class="cls_nowrap">Action name</th>
                                        <th class="cls_nowrap">Reason</th>
                                        <th class="cls_nowrap">Remark reason</th>
                                        <th class="cls_nowrap">Comment by Manager</th>
                                        <th class="cls_nowrap">Created date-time</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row cls_mk_send_to_warehouse_row cls_hide">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Marketing</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row cls_row_action_mk_send_to_warehouse">
                            <div class="col-md-12">
                                <button type="button" class="cls_btn_mk_send_to_warehouse btn btn-success">Send to warehouse</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_WH_UPD_PACK_STYLE" class="btn btn-default">View/upload attachment</button>
                            </div>
                        </div>
                        <div class="row cls_row_action_mk_send_to_warehouse">
                            <div class="col-md-2">
                                Comment :
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control cls_txt_mk_send_to_warehouse" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>