<!-- Modal Vendor -->
<div class="modal" id="pg_submit_modal_vendor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send to vendor</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-11">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_file_template" } })
                        </div>
                        <div class="col-md-1 control-label">
                            <a href="@Url.Action("DownloadFileTemplate","FileUpload")" style="" class="cls_link_load_file_template cls_hand" target="_blank">Download</a>
                        </div>
                    </div>
                    <!--Primary and request sample-->
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border2">Request for sample</legend>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_vendor cls_chk_send_pr" id="vn_rdo_rs1" onclick="selectOnlyThis(this.id)">Send primary and request sample</label>
                            </div>
                            <div class="panel-body cls_body_send_pr" style="display:none;">
                                @*<div class="row">
                                        <div class="col-md-3 control-label" style="font-weight: bold">
                                            Detail  :
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_packaging_type">
                                        Packaging type  :
                                    </div>
                                    <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_packaging_type" /></div>

                                    <div class="col-md-3 control-label cls_lbl_vn_brand">
                                        Brand   :
                                    </div>
                                    <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_brand" /></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_primary_type">
                                        Primary type    :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_primary_type form-control" style="font-size:10px" />
                                    </div>
                                    <div class="col-md-3 control-label cls_lbl_vn_primary_size">
                                        Primary size    :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_primary_size form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_pack_size">
                                        Pack size   :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_pack_size form-control" />
                                    </div>
                                    <div class="col-md-3 control-label cls_lbl_vn_spec">
                                        Specification (Grade of) :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_spec form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_acc">
                                        Accessories (Grad,Qty) :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_acc form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_amount">
                                        จำนวนตัวอย่างที่ขอ  :
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="cls_vn_amount form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label">
                                        Send for (Reason)<span style="color:red;">*</span> :
                                    </div>
                                    <div class="col-md-9">
                                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_send_pr_other" } })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cls_txt_send_pr" style="height: 80px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 " style="text-align: right">
                                                <a class="cls_hand" data-go_to_step="SEND_VN_PR" data-toggle="modal" data-target="#popup_attachment">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                <a class="cls_hand" data-toggle="modal" data-target="#pg_master_template">Copy Template</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--RS-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_vendor cls_chk_send_rs" id="vn_rdo_rs2" onclick="selectOnlyThis(this.id)">Request for sample</label>
                            </div>
                            <div class="panel-body cls_body_send_rs" style="display:none;">
                                @*<div class="row">
                                        <div class="col-md-3 control-label" style="font-weight: bold">
                                            Detail  :
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_packaging_type">
                                        Packaging type  :
                                    </div>
                                    <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_packaging_type" /></div>

                                    <div class="col-md-3 control-label cls_lbl_vn_brand">
                                        Brand   :
                                    </div>
                                    <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_brand" /></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_primary_type">
                                        Primary type    :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_primary_type form-control" style="font-size:10px" />
                                    </div>
                                    <div class="col-md-3 control-label cls_lbl_vn_primary_size">
                                        Primary size    :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_primary_size form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_pack_size">
                                        Pack size   :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_pack_size form-control" />
                                    </div>
                                    <div class="col-md-3 control-label cls_lbl_vn_dimension_of">
                                        Dimension of (LXWXH)(mm.) :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_dimension_of form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_spec">
                                        Specification (Grade of) :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_spec form-control" />
                                    </div>
                                    <div class="col-md-3 control-label cls_lbl_vn_acc">
                                        Accessories (Grad,Qty) :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_acc form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_flute">
                                        Flute   :
                                    </div>
                                    <div class="col-md-3">
                                        <input disabled type="text" class="cls_vn_flute form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label cls_lbl_vn_amount">
                                        จำนวนตัวอย่างที่ขอ  :
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="cls_vn_amount form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 control-label">
                                        Send for (Reason)<span style="color:red;">*</span> :
                                    </div>
                                    <div class="col-md-9">
                                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_send_rs_other" } })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cls_txt_send_rs" style="height: 80px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 " style="text-align: right">
                                                <a class="cls_hand" data-go_to_step="SEND_VN_RS" data-toggle="modal" data-target="#popup_attachment">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                <a class="cls_hand" data-toggle="modal" data-target="#pg_master_template">Copy Template</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Match Board -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_vendor cls_chk_send_mb">Request for match board</label>
                        </div>
                        <div class="panel-body cls_body_send_mb" style="display:none;">
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Send for (Reason)<span style="color:red;">*</span> :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_send_mb_other" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cls_txt_send_mb" style="height: 80px;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " style="text-align: right">
                                    <a class="cls_hand" data-go_to_step="SEND_VN_MB" data-toggle="modal" data-target="#popup_attachment">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                    <a class="cls_hand" data-toggle="modal" data-target="#pg_master_template">Copy Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Die-line -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_vendor cls_chk_send_dl">Request for dieline</label>
                        </div>
                        <div class="panel-body cls_body_send_dl" style="display:none;">
                            @*<div class="row">
                                    <div class="col-md-3 control-label" style="font-weight: bold">
                                        Detail  :
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-3 control-label cls_lbl_vn_packaging_type">
                                    Packaging type  :
                                </div>
                                <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_packaging_type" /></div>

                                <div class="col-md-3 control-label cls_lbl_vn_brand">
                                    Brand   :
                                </div>
                                <div class="col-md-3"><input disabled type="text" class="form-control cls_vn_brand" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 control-label cls_lbl_vn_primary_type">
                                    Primary type    :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_primary_type form-control" style="font-size:10px" />
                                </div>
                                <div class="col-md-3 control-label cls_lbl_vn_primary_size">
                                    Primary size    :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_primary_size form-control" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 control-label cls_lbl_vn_pack_size">
                                    Pack size   :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_pack_size form-control" />
                                </div>
                                <div class="col-md-3 control-label cls_lbl_vn_dimension_of">
                                    Dimension of (LXWXH)(mm.) :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_dimension_of form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label cls_lbl_vn_spec">
                                    Specification (Grade of) :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_spec form-control" />
                                </div>
                                <div class="col-md-3 control-label cls_lbl_vn_acc">
                                    Accessories (Grad,Qty) :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_acc form-control" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 control-label cls_lbl_vn_flute">
                                    Flute   :
                                </div>
                                <div class="col-md-3">
                                    <input disabled type="text" class="cls_vn_flute form-control" />
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="col-md-3">
                                        จำนวนตัวอย่างที่ขอ  :
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="cls_vn_amount form-control" />
                                    </div>
                                </div>*@

                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Send for (Reason)<span style="color:red;">*</span> :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_send_dl_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_dl" style="height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-go_to_step="SEND_VN_DL" data-toggle="modal" data-target="#popup_attachment">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pg_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cls_btn_submit_send_vendor btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>