@model PLL.Controllers.UsersRoleModel
@using DAL;
@using System.Collections.Generic;

<style>
    .table {
        padding-top: 0px;
    }

    #header1 {
        background-color: #3276b1;
        font-size: 18px;
        color: #fff;
        padding: 5px;
        text-align: center;
    }

    .tablehead {
        padding-right: 0px !important;
        width: auto !important;
    }

    .tablehead1 {
        width: 100% !important;
    }
</style>

@{
    if (Model.ObjPosition == "Customer" || Model.ObjPosition == "Vendor")
    {
        <h4>Create user completed.</h4>
    }
    else
    {
        <h4>@ViewBag.Header</h4>
    }
}

<hr />
<div class="row">
    <div class="col-md-3">
        <div class="cls_employee">
            Username : @Model.ObjUser.USERNAME <br /> Name :@Model.ObjUser.TITLE @Model.ObjUser.FIRST_NAME  @Model.ObjUser.LAST_NAME <br /> Email : @Model.ObjUser.EMAIL
        </div>
        <div class="cls_ven_role_head">
            Vendor : @Model.ObjUser.FIRST_NAME @Model.ObjUser.LAST_NAME
        </div>
    </div><br />
</div>
<div class="row col-md-3">
    @{if (Model.ObjPosition != "Customer" && Model.ObjPosition != "Vendor")
        {
            <button type="button" class="cls_save_all btn btn-primary">Save</button>
        }
    }
    |
    <input type="hidden" class="cls_user_id" value="@Model.ObjUser.USER_ID" />
    @*<button type="button" class="cls_save btn btn-primary">Save</button>
        <button type="button" class="cls_clear btn btn-danger">Clear</button> |*@
    @{
        if (Model.ObjPosition == "Customer")
        {
            @Html.ActionLink("Back to list", "../Users/Customer")
        }
        else if (Model.ObjPosition == "Vendor")
        {
            @Html.ActionLink("Back to list", "../Users/Vendor")
        }
        else if (Model.ObjPosition == "Internal")
        {
            @Html.ActionLink("Back to list", "../Users/Internal")
        }
        else if (Model.ObjPosition == "Admin")
        {
            @Html.ActionLink("Back to list", "../Users/Index")
        }
        else if (Model.ObjPosition == "VendorRole")
        {
            @Html.ActionLink("Back to list", "../Vendor/Index")
        }
    }

</div><br /><br />
<hr />
@* ROW1 *@
<div class="row cls_admin">
    <div class="col-md-3">
        <div id="header1">Role</div>
        <table class="table table_role display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ObjRole)
                {
                    var found = false;
                    foreach (var item2 in Model.ObjUserRole)
                    {
                        if (item.ROLE_ID == item2.ROLE_ID)
                        {
                            found = true;
                            break;
                        }
                    }
                    <tr data-role-id=@item.ROLE_ID>
                        <td>
                            @(found ? new HtmlString("<label class='checkbox-inline'><input class='cls_chk_role' checked='checked' type='checkbox'>" + item.DESCRIPTION + "</label>")
                                                                                                                            : new HtmlString("<label class='checkbox-inline'><input class='cls_chk_role' type='checkbox'>" + item.DESCRIPTION + "</label>"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="cls_save_role btn btn-primary hide">Save</button>
        <br /><br />
    </div>

    <div class="col-md-3">
        <div id="header1">Leader</div>
        <table class="table table_sup display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Leader
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemSup in Model.ObjSup)
                {
                    var found = false;
                    foreach (var itemSup2 in Model.ObjUserSup)
                    {
                        if (itemSup.USER_ID == itemSup2.UPPER_USER_ID)
                        {
                            found = true;
                            break;
                        }
                    }
                    <tr data-sup-id=@itemSup.USER_ID>
                        <td>
                            @(found ? new HtmlString("<label class='checkbox-inline'><input class='cls_chk_sup' checked='checked' type='checkbox'>" + itemSup.TITLE + " " + itemSup.FIRST_NAME + " " + itemSup.LAST_NAME + "</label>")
                                                                                                                            : new HtmlString("<label class='checkbox-inline'><input class='cls_chk_sup' type='checkbox'>" + itemSup.TITLE + " " + itemSup.FIRST_NAME + " " + itemSup.LAST_NAME + "</label>"))
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="cls_save_sup btn btn-primary hide">Save</button>
    </div>

    <div class="col-md-3">
        <div id="header1">Type of product</div>
        <table class="table table_typeproduct display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Type of product
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemTypeProduct in Model.ObjTypeProduct)
                {
                    var found = false;
                    foreach (var itemTypeProduct2 in Model.ObjUserTypeProduct)
                    {
                        if (itemTypeProduct.TYPE_OF_PRODUCT_ID == itemTypeProduct2.TYPE_OF_PRODUCT_ID)
                        {
                            found = true;
                            break;
                        }
                    }
                    <tr data-typeproduct-id=@itemTypeProduct.TYPE_OF_PRODUCT_ID>
                        <td>
                            @(found ? new HtmlString("<label class='checkbox-inline'><input class='cls_chk_typeproduct' checked='checked' type='checkbox'>" + itemTypeProduct.DESCRIPTION + "</label>")
                                                                                                                    : new HtmlString("<label class='checkbox-inline'><input class='cls_chk_typeproduct' type='checkbox'>" + itemTypeProduct.DESCRIPTION + "</label>"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="cls_save_typeproduct btn btn-primary hide">Save</button>
    </div>

    <div class="col-md-3">
        <div id="header1">Company</div>
        <table class="table table_company display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Company
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemCom in Model.ObjCompany)
                {
                    var found = false;
                    foreach (var itemCom2 in Model.ObjUserCompany)
                    {
                        if (itemCom.COMPANY_ID == itemCom2.COMPANY_ID)
                        {
                            found = true;
                            break;
                        }
                    }
                    <tr data-company-id=@itemCom.COMPANY_ID>
                        <td>
                            @(found ? new HtmlString("<label class='checkbox-inline'><input class='cls_chk_company' checked='checked' type='checkbox'>" + itemCom.COMPANY_CODE + ":" + itemCom.DESCRIPTION + " </label>")
                                                                                                    : new HtmlString("<label class='checkbox-inline'><input class='cls_chk_company' type='checkbox'>" + itemCom.COMPANY_CODE + ":" + itemCom.DESCRIPTION + "</label>"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="cls_save_company btn btn-primary hide">Save</button>
    </div>

</div>
@* ROW2 *@

<div style="display:none;">
    @*<div class="row cls_cus_ven">*@
    <div class="col-md-3 cls_cus">
        <div id="header1">Customer</div>
        @{ var isCusTo = true;
            var isCusCC = true;
            var isShadeLim = true;
            var valCusTo = @Model.ObjCusID.IS_EMAIL_TO;
            var valCusCC = @Model.ObjCusID.IS_EMAIL_CC;
            //var valShadeLim = @Model.ObjCusID.IS_SHADE_LIMIT;
        }
        @if (valCusTo != null && valCusCC != null)
        {
            if (valCusTo.ToLower() != "x")
            { isCusTo = false; }
            if (valCusCC.ToLower() != "x")
            { isCusCC = false; }
            //if (valShadeLim.ToLower() != "x")
            //{ isShadeLim = false; }
        }
        @(isCusTo ? new HtmlString("<input class='cls_chk_to_customer' checked='checked' type='checkbox'> TO &emsp;") : new HtmlString("<input class='cls_chk_to_customer' type='checkbox'> TO &emsp;"))
        @(isCusCC ? new HtmlString("<input class='cls_chk_cc_customer' checked='checked' type='checkbox'> CC &emsp;") : new HtmlString("<input class='cls_chk_cc_customer' type='checkbox'> CC &emsp;"))
        @*@(isShadeLim ? new HtmlString("<input class='cls_chk_shadelim_customer' checked='checked' type='checkbox'> Shade limit approval") : new HtmlString("<input class='cls_chk_shadelim_customer' type='checkbox'> Shade limit approval"))*@

        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_customer" } })
        <br /><br />
        @Html.ActionLink("Create customer", "Create", "Customer", null, new { target = "_blank", @class = "btn btn-success" })
        <button type="button" class="cls_save_customer btn btn-primary hide">Save</button>
    </div>


    <div class="col-md-3 cls_ven">
        <div id="header1">Vendor</div>
        @{ var isTo = true;
            var isCC = true;
            var valTo = @Model.ObjVenID.IS_EMAIL_TO;
            var valCC = @Model.ObjVenID.IS_EMAIL_CC;
        }
        @if (valTo != null && valCC != null)
        {
            if (valTo.ToLower() != "x")
            { isTo = false; }
            if (valCC.ToLower() != "x")
            { isCC = false; }
        }
        @(isTo ? new HtmlString("<input class='cls_chk_to_vendor' checked='checked' type='checkbox'> TO &emsp;") : new HtmlString("<input class='cls_chk_to_vendor' type='checkbox'> TO &emsp;"))
        @(isCC ? new HtmlString("<input class='cls_chk_cc_vendor' checked='checked' type='checkbox'> CC") : new HtmlString("<input class='cls_chk_cc_vendor' type='checkbox'> CC"))


        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_vendor" } })
        <br /><br />
        @Html.ActionLink("Create vendor", "Create", "Vendor", null, new { target = "_blank", @class = "btn btn-success" })
        <button type="button" class="cls_save_vendor btn btn-primary hide">Save</button>
    </div>
</div>


@* ROW3 *@

<div class="row cls_ven_role">
    <div class="col-md-3">
        <div id="header1">Packaging type</div>
        <table class="table table_packaging display" style="width:100%">
            <thead>
                <tr>
                    <th class="cls_center" style="max-width:17px"></th>
                    <th>
                        Packaging type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemPack in Model.ObjPack)
                {
                    var found = false;
                    foreach (var itemPack2 in Model.ObjVendorPack)
                    {
                        if (itemPack.CHARACTERISTIC_ID == itemPack2.MATGROUP_ID)
                        {
                            found = true;
                            break;
                        }
                    }
                    <tr data-pack-id=@itemPack.CHARACTERISTIC_ID>
                        <td class="cls_center">
                            @(found ? new HtmlString("<input class='cls_chk_packaging' checked='checked' type='checkbox'>") : new HtmlString("<input class='cls_chk_packaging' type='checkbox'>"))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemPack.DESCRIPTION)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="cls_save_packaging btn btn-primary hide">Save</button>
    </div>
</div>


@section scripts
{
    <script>

        var vendorID = '@Model.ObjVenID.VENDOR_ID';
        var vendorCode = '@Model.ObjVenNAME.VENDOR_CODE';
        var vendorName = '@Model.ObjVenNAME.VENDOR_NAME';
        var CustomerID = '@Model.ObjCusID.CUSTOMER_ID';
        var CustomerName = '@Model.ObjCusNAME.CUSTOMER_NAME';
        var PosiotionID = '@Model.ObjPosID.POSITION_ID';
        var PositionName = '@Model.ObjPosNAME.ART_M_POSITION_NAME';
        var Position_ = '@Model.ObjPosition';

        $(document).ready(function () {

            bind_lov('.cls_lov_vendor', '/api/lov/vendor', 'data.DISPLAY_TXT');
            bind_lov('.cls_lov_customer', '/api/lov/customer', 'data.DISPLAY_TXT');
            bind_lov('.cls_lov_position', '/api/lov/position', 'data.DISPLAY_TXT');
            setValueToDDL('.cls_lov_customer', CustomerID, CustomerName );
            setValueToDDL('.cls_lov_vendor', vendorID, vendorCode + ":" + vendorName);

            $('.table').DataTable({
                "paging": false,
                //"searching": false,
                "language": {
                    "search": " "
                },
                columnDefs: [
                    {
                        targets: [0],
                        orderDataType: 'dom-checkbox'
                    }
                ],
                "order": [[0, 'desc']],
                "processing": true,
                "scrollY": "260px",
                "scrollCollapse": true,
                "info": false,
            });

            $('.cls_admin .dataTables_filter').css('width', '100%');
            $('.cls_admin .dataTables_filter label').css('width', '100%');
            $('.cls_admin .dataTables_filter input').css('width', '100%');
            $('.cls_admin .dataTables_filter input').css('margin-left', '0');
            $('.cls_admin .dataTables_filter input').css('margin-top', '5px');
            $('.cls_admin .dataTables_filter input').attr("placeholder", "Type here to search");

            $('.cls_ven_role .dataTables_filter').css('width', '100%');
            $('.cls_ven_role .dataTables_filter label').css('width', '100%');
            $('.cls_ven_role .dataTables_filter input').css('width', '100%');
            $('.cls_ven_role .dataTables_filter input').css('margin-left', '0');
            $('.cls_ven_role .dataTables_filter input').css('margin-top', '5px');
            $('.cls_ven_role .dataTables_filter input').attr("placeholder", "Type here to search");

            if (Position_ == "Customer") {
                $(".cls_admin").hide();
                $(".cls_cus_ven").show();
                $(".cls_cus").hide();
                $(".cls_ven").hide();
                $(".cls_ven_role").hide();
                $(".cls_ven_role_head").hide();
                $(".cls_employee").show();
            }
            else if (Position_ == "Vendor") {
                $(".cls_admin").hide();
                $(".cls_cus_ven").show();
                $(".cls_cus").hide();
                $(".cls_ven").hide();
                $(".cls_ven_role").hide();
                $(".cls_ven_role_head").hide();
                $(".cls_employee").show();
            }
            else if (Position_ == "Admin"){
                $(".cls_admin").show();
                $(".cls_cus_ven").show();
                $(".cls_ven_role").hide();
                $(".cls_ven_role_head").hide();
                $(".cls_employee").show();
            }
            else if (Position_ == "Internal") {
                $(".cls_admin").show();
                $(".cls_cus_ven").hide();
                $(".cls_ven_role").hide();
                $(".cls_ven_role_head").hide();
                $(".cls_employee").show();
            }
            else if (Position_ == "VendorRole") {
                $(".cls_admin").hide();
                $(".cls_cus_ven").hide();
                $(".cls_ven_role").show();
                $(".cls_ven_role_head").show();
                $(".cls_employee").hide();
            }




            $(".cls_save_all").click(function () {
                try {
                    $(".cls_save_role").click();
                    $(".cls_save_company").click();
                    $(".cls_save_sup").click();
                    $(".cls_save_typeproduct").click();
                    $(".cls_save_customer").click();
                    $(".cls_save_vendor").click();
                    $(".cls_save_packaging").click();
                    alertSuccess("Completed")
                }
                catch
                {
                    alertError2("Incomplete");
                }

            });

            $(".cls_save_role").click(function () {
                var jsonObj = {};
                jsonObj.data = [];
                $('.table.table_role > tbody  > tr').each(function () {
                    var itemRole = {};
                    itemRole["USER_ID"] = $('.cls_user_id').val();
                    itemRole["ROLE_ID"] = $(this).data("role-id");
                    itemRole["CREATE_BY"] = UserID;
                    itemRole["UPDATE_BY"] = UserID;
                    itemRole["CHECKED"] = $(this).find('.cls_chk_role').is(':checked');
                    jsonObj.data.push(itemRole);
                });

                var myurl = '/api/master/employeerole';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_typeproduct").click(function () {
                var jsonObj = {};
                jsonObj.data = [];
                $('.table.table_typeproduct > tbody  > tr').each(function () {
                    var itemTypeproduct = {};
                    itemTypeproduct["USER_ID"] = $('.cls_user_id').val();
                    itemTypeproduct["TYPE_OF_PRODUCT_ID"] = $(this).data("typeproduct-id");
                    itemTypeproduct["CREATE_BY"] = UserID;
                    itemTypeproduct["UPDATE_BY"] = UserID;
                    itemTypeproduct["CHECKED"] = $(this).find('.cls_chk_typeproduct').is(':checked');
                    jsonObj.data.push(itemTypeproduct);
                });
                var myurl = '/api/master/typeproduct';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_company").click(function () {
                var jsonObj = {};
                jsonObj.data = [];

                $('.table.table_company > tbody  > tr').each(function () {
                    var itemCompany = {};
                    itemCompany["USER_ID"] = $('.cls_user_id').val();
                    itemCompany["COMPANY_ID"] = $(this).data("company-id");
                    itemCompany["CREATE_BY"] = UserID;
                    itemCompany["UPDATE_BY"] = UserID;
                    itemCompany["CHECKED"] = $(this).find('.cls_chk_company').is(':checked');
                    jsonObj.data.push(itemCompany);
                });

                var myurl = '/api/master/company';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_packaging").click(function () {
                var jsonObj = {};
                jsonObj.data = [];

                $('.table.table_packaging > tbody  > tr').each(function () {
                    var itemPack = {};
                    itemPack["VENDOR_ID"] = $('.cls_user_id').val();
                    itemPack["MATGROUP_ID"] = $(this).data("pack-id");
                    itemPack["CREATE_BY"] = UserID;
                    itemPack["UPDATE_BY"] = UserID;
                    itemPack["CHECKED"] = $(this).find('.cls_chk_packaging').is(':checked');
                    jsonObj.data.push(itemPack);
                });

                var myurl = '/api/master/packagingtype';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_sup").click(function () {
                var jsonObj = {};
                jsonObj.data = [];
                $('.table.table_sup > tbody  > tr').each(function () {
                    var itemSup = {};
                    itemSup["USER_ID"] = $('.cls_user_id').val();
                    itemSup["UPPER_USER_ID"] = $(this).data("sup-id");
                    itemSup["CREATE_BY"] = UserID;
                    itemSup["UPDATE_BY"] = UserID;
                    itemSup["CHECKED"] = $(this).find('.cls_chk_sup').is(':checked');
                    jsonObj.data.push(itemSup);
                });

                var myurl = '/api/master/upperlevel';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_customer").click(function () {
                var jsonObj = {};
                jsonObj.data = [];

                var itemCustomer = {};
                itemCustomer["USER_ID"] = $('.cls_user_id').val();
                itemCustomer["CUSTOMER_ID"] = $('.cls_lov_customer').val();
                if ($('.cls_chk_to_customer').prop('checked')) {
                    itemCustomer["IS_EMAIL_TO"] = "X";
                }
                else {
                    itemCustomer["IS_EMAIL_TO"] = "";
                }
                if ($('.cls_chk_cc_customer').prop('checked')) {
                    itemCustomer["IS_EMAIL_CC"] = "X";
                }
                else {
                    itemCustomer["IS_EMAIL_CC"] = "";
                }
                itemCustomer["CREATE_BY"] = UserID;
                itemCustomer["UPDATE_BY"] = UserID;
                jsonObj.data.push(itemCustomer);

                var myurl = '/api/master/customer';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });

            $(".cls_save_vendor").click(function () {
                var jsonObj = {};
                jsonObj.data = [];

                var itemVendor = {};
                itemVendor["USER_ID"] = $('.cls_user_id').val();
                itemVendor["VENDOR_ID"] = $('.cls_lov_vendor').val();
                if ($('.cls_chk_to_vendor').prop('checked')) {
                    itemVendor["IS_EMAIL_TO"] = "X";
                }
                else {
                    itemVendor["IS_EMAIL_TO"] = "";
                }
                if ($('.cls_chk_cc_vendor').prop('checked')) {
                    itemVendor["IS_EMAIL_CC"] = "X";
                }
                else {
                    itemVendor["IS_EMAIL_CC"] = "";
                }
                itemVendor["CREATE_BY"] = UserID;
                itemVendor["UPDATE_BY"] = UserID;
                jsonObj.data.push(itemVendor);

                var myurl = '/api/master/vendor';
                var mytype = 'POST';
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });
            $(".dataTables_scrollHeadInner").addClass("tablehead");
            $(".dataTable").addClass("tablehead1");

        });

    </script>
}
