@{
    ViewBag.Title = "Taskform i-Grid";
}
<div class="cls_container_taskform_igrid">
    <div class="row">
        <div class="col-md-2 control-label">Document no. :</div>
        <div class="col-md-4"><input disabled type="text" class="cls_txt_header_tfartwork_rf_no form-control" /></div>
        <div class="col-md-2 control-label">Description  <img title="Description. xxxxxxxxxxxxxxxx" style="width:15px;" src="~/Content/img/info.png"> : <input type="checkbox" class="cls_chk_Fixed_Desc" /></div>
        <div class="col-md-4">
            <input disabled type="text" class="cls_txt_header_tfartwork_doc form-control" onkeypress="return ValidateKey();" maxlength="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 control-label">Material no. <img title="Material no. xxxxxxxxxxxxxxxx" style="width:15px;" src="~/Content/img/info.png"> :</div>
        <div class="col-md-4">
            <input disabled type="text" class="cls_txt_header_tfartwork_mat_no form-control" style="display: inline-block;" maxlength="18" />
        </div>
        @*<div class="col-md-2 control-label">Mockup no. :</div>
            <div class="col-md-4"><input disabled type="text" class="cls_txt_header_tfartwork_mu_no form-control" /></div>*@
        <div class="col-md-2 control-label">Ref Number. :</div>
        <div class="col-md-4"><input disabled type="text" class="cls_txt_header_tfartwork_ref_form_no form-control" /></div>

    </div>
    <div class="row">
        <div class="col-md-2 control-label">Artwork/DMS no. : <label><a class="cls_igrid_lbl_link_aw" target="_blank" href="">link</a></label></div>
        <div class="col-md-4"><input type="text" class="cls_txt_header_tfartwork_aw_no form-control" /></div>

        <div class="col-md-2 control-label">
            Assignee (PG) :
        </div>
        <div class="col-md-4">
            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_assign" }, { "cls_txtarea", "cls_input_assign" } })

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 control-label">Option/Condition</div>
        <div class="col-md-4">
            <select class="form-control cls_ddl_option_condition" style="width:100%;">
                <option selected value="1">Known SO</option>
                <option value="3">Project</option>
                <option value="4">Version</option>
                <option value="7">Change Classification</option>
            </select>
        </div>
        <div class="col-md-2 control-label">Version of Material</div>
        <div class="col-md-4">
            <input disabled type="text" class="cls_txt_version_of_material form-control" />
        </div>
    </div>
    <ul class="cls_taskform_tab nav nav-tabs">
        <li class="cls_li_pa_data">
            <a href="#view_pa" data-toggle="tab">PA data</a>
        </li>
        <li class="cls_li_pg_data">
            <a href="#view_pg" data-toggle="tab">PG data</a>
        </li>
        <li class="cls_li_attached_data">
            <a href="#view_attached" data-toggle="tab">Attached file</a>
        </li>
        @*<li class="cls_li_reason_data">
                <a href="#view_reason" data-toggle="tab">Reason for rejection</a>
            </li>*@
        <li class="cls_li_history_data">
            <a href="#view_history" data-toggle="tab">History</a>
        </li>
    </ul>
    <div class="tab-content cls_content_taskform_artwork">
        <div class="tab-pane active" id="view_pa">
            @Html.Partial("PA")
        </div>
        <div class="tab-pane active" id="view_pg">
            @Html.Partial("PG")
        </div>
        <div class="tab-pane active cls_form_igrid_upload_file" id="view_attached">
            @Html.Partial("Attachment")
        </div>
        <div class="tab-pane active" id="view_history">
            @Html.Partial("History")
        </div>
    </div>
</div>
@Html.Partial("PrimarySizePopup")
@Html.Partial("PlantPopup")
@Html.Partial("FAOZonePopup")
@Html.Partial("SymbolPopup")
@Html.Partial("CatchingMethodPopup")
@Html.Partial("VendorPopup")
@Html.Partial("CatchingAreaPopup")
@Html.Partial("PackingStylePopup")

@section scripts
{
    @Scripts.Render("~/bundles/taskformigrid")

    <script type="text/javascript">
        //debugger;
        @*var OverDue = '@ViewBag.OverDue';*@
        var IGridSAPMaterialId = @ViewBag.IGridSAPMaterialId;
    </script>


}
