@using Microsoft.AspNet.Identity
<div class="cls_tfigrid" style="padding-top:10px;">
    <form>
        <div>
            <input type="text" disabled class="cls_input_artwork_request_id" value="15" hidden />
            <button type="button" disabled class="cls_btn_pa_save btn btn-success">Save</button>

            <button type="button" disabled id="cls_btn_pa_submit" class="cls_btn_pa_submit btn btn-primary">Submit</button>
            <button type="button" disabled class="cls_btn_pa_reject btn btn-danger">Reject</button>
            <button type="button" disabled class="cls_btn_pa_remove btn btn-danger">Delete</button>
            <br />
            <div class="row">
                <div class="col-md-4 control-label">
                    Comment :
                </div>
                <div class="col-md-12 control-label">
                    <textarea rows="2" class="cls_txt_pa_comment form-control"></textarea>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4 control-label">
                <span style="color: red;">Material group *</span>:
            </div>
            <div class="col-md-4 control-label">
                Type of Primary :
            </div>

            <div class="col-md-4 control-label">
                Type of :
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_material_group" }, { "is_required", "required" } })
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_typeofprimary" }, { "cls_txtarea", "cls_input_pa_typeofprimary" }, { "is_required", "required" } })
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_type_of" }, { "cls_txtarea", "cls_input_pa_type_of" } })
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 control-label ">
                <span style="color: red;">Brand *</span> : @*<label style="color: red;" class="cls_lbl_brand"></label>*@
            </div>
            <div class="col-md-4 control-label ">
                <span style="color: red;"> Change point <img title="Change point. xxxxxxxxxxxxxxxx" style="width:15px;" src="~/Content/img/info.png">*</span> :  
            </div>
            <div class="col-md-4 control-label">
                Type of 2:
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_brand" }, { "cls_txtarea", "cls_input_brand" }, { "is_required", "required" } })
            </div>
            <div class="col-md-4 cls_only_pa_position">
                <label class="radio-inline"><input value="N" type="radio" name="cls_rdo_haeder_tfartwork_change_point">No change point</label>
                <label class="radio-inline"><input value="C" type="radio" name="cls_rdo_haeder_tfartwork_change_point">Change point</label>
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_type_of_two" }, { "cls_txtarea", "cls_input_pa_type_of_two" } })
            </div>
        </div>

        <div id="popupContainer"></div>
        <div class="row">
            <div class="col-md-4 control-label">
                <span style="color: red;">Primary size *</span> : <label style="color: red;" class="cls_lbl_primary_size cls_hide"></label>  <img class="cls_btn_pa_primary_size imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>
            <div class="col-md-4 control-label">
                Container type :
            </div>
            <div class="col-md-4 control-label">
                Lid type :
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input disabled type="text" style="display: none;width: 50px;" class="cls_txt_pa_primary_size_id cls_hide form-control" />
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_primary_size form-control borderRed" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_primary_size btn btn-warning">
                    ?
                </button>*@
               
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;" class="cls_txt_pa_container_type form-control" />
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;" class="cls_txt_pa_lid_type form-control" />
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-md-8 control-label">
                Product Code @*<span style="color: red;">*</span>*@:
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="text" class="cls_txt_pa_product_code form-control" onkeypress="return onKeyValidate(event,alphanumeric);"/>
            </div>


        </div>




        <div class="row">
            <div class="col-md-4 control-label">
                <label style="font-weight: normal;" class="cls_lbl_pa_packing_style"></label>
                <label style="font-weight: normal;font-style:italic;color:gray;" class="cls_lbl_pa_packing_style_fg">xxx</label>
                <img class="cls_btn_pa_packing_style imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>
            <div class="col-md-4 control-label cls_lbl_pa_pack_size">
            </div>


        </div>
        <div class="row">

            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_packing_style form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_packing_style btn btn-warning">
                    ?
                </button>*@
                
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_pack_size form-control" />
                @*@Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_pack_size" }, { "cls_txtarea", "cls_input_pa_pack_size" }, { "is_required", "required" } })*@
            </div>


        </div>
        <hr />
        <div class="row">



        </div>
        <div class="row">

        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                Plant registered No.
            </div>
            <div class="col-md-4 control-label">
                Plant @*<span style="color: red;">*</span>*@: <img class="cls_btn_pa_plant_multiple_static imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>

            <div class="col-md-4 control-label">
                PMS Colour:
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_plant_register_no" }, { "cls_txtarea", "cls_input_pa_plant_register_no" } })
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_plant_register_no form-control" />
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_plant_multiple_static form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_plant_multiple_static btn btn-warning">
                    ?
                </button>*@
                
                @*<div style="display:none;" class="row tr_tfartwork_pa_plant_multiple tr_tfartwork_pa_plant_multiple_static">
                    <div class="col-md-10">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_plant_multiple cls_lov_pa_plant_multiple_static " }, { "cls_txtarea", "cls_input_pa_plant_multiple cls_input_pa_plant_multiple_static" } })
                    </div>
                    <div class="col-md-1" style="padding-left: 0px;">
                        <img class="cls_img_lov_tfartwork_pa_add_plant_multiple imgadd" title="Add" style="cursor:pointer;" src="~/Content/img/ico_add.png" />
                        <img class="cls_img_lov_tfartwork_pa_delete_plant_multiple imgdelete" title="Delete" style="cursor:pointer;display:none;" src="~/Content/img/ico_delete.png" />
                    </div>
                </div>*@
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_pms_colour" }, { "cls_txtarea", "cls_input_pa_pms_colour" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 control-label">
                Company name/Address
            </div>

            <div class="col-md-4 control-label">
                FAO Zone : <img class="cls_btn_pa_fao_zone_multiple_static imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>

            <div class="col-md-4 control-label">
                Process colour:
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_company_name" }, { "cls_txtarea", "cls_input_pa_company_name" } })
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_fao_zone_multiple_static form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_fao_zone_multiple_static btn btn-warning">
                    ?
                </button>*@
                
                @*<div style="display:none;" class="row tr_tfartwork_pa_fao_zone_multiple tr_tfartwork_pa_fao_zone_multiple_static">
                    <div class="col-md-10">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_fao_zone_multiple cls_lov_pa_fao_zone_multiple_static " }, { "cls_txtarea", "cls_input_pa_fao_zone_multiple cls_input_pa_fao_zone_multiple_static" } })
                    </div>
                    <div class="col-md-1" style="padding-left: 0px;">
                        <img class="cls_img_lov_tfartwork_pa_add_fao_zone_multiple imgadd" title="Add" style="cursor:pointer;" src="~/Content/img/ico_add.png" />
                        <img class="cls_img_lov_tfartwork_pa_delete_fao_zone_multiple imgdelete" title="Delete" style="cursor:pointer;display:none;" src="~/Content/img/ico_delete.png" />
                    </div>
                </div>*@
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_process_colour" }, { "cls_txtarea", "cls_input_pa_process_colour" } })
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 control-label">
                Scientific name :
            </div>

            <div class="col-md-4 control-label">
                Catching area : <img class="cls_btn_pa_catching_area_multiple_static imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>

            <div class="col-md-4 control-label">
                Total colour @*<span style="color: red;">*</span>*@:
            </div>


        </div>
        <div class="row">

            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_scientific_name" }, { "cls_txtarea", "cls_input_pa_scientific_name" } })
            </div>
            <div class="col-md-4">
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_catching_area_multiple_static form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_catching_area_multiple_static btn btn-warning">
                    ?
                </button>*@
                
                @*<div style="display:none;" class="row tr_tfartwork_pa_catching_area_multiple tr_tfartwork_pa_catching_area_multiple_static">
                    <div class="col-md-10">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_catching_area_multiple cls_lov_pa_catching_area_multiple_static " }, { "cls_txtarea", "cls_input_pa_catching_area_multiple cls_input_pa_catching_area_multiple_static" } })
                    </div>
                    <div class="col-md-1" style="padding-left: 0px;">
                        <img class="cls_img_lov_tfartwork_pa_add_catching_area_multiple imgadd" title="Add" style="cursor:pointer;" src="~/Content/img/ico_add.png" />
                        <img class="cls_img_lov_tfartwork_pa_delete_catching_area_multiple imgdelete" title="Delete" style="cursor:pointer;display:none;" src="~/Content/img/ico_delete.png" />
                    </div>
                </div>*@
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_total_colour" }, { "cls_txtarea", "cls_input_pa_total_colour" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 control-label">
                Specie :
            </div>
            <div class="col-md-4 control-label">
                Catching period/Date :
            </div>
            <div class="col-md-4 control-label cls_lbl_pa_style_of_printing">
                @*<span style="color: red;">Primary size *</span> : <label style="color: red;" class="cls_lbl_primary_size"></label>*@
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_specie" }, { "cls_txtarea", "cls_input_pa_specie" } })
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_catching_period" }, { "cls_txtarea", "cls_input_pa_catching_period" } })
            </div>
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_style_of_printing" }, { "cls_txtarea", "cls_input_pa_style_of_printing" } })
            </div>
        </div>



        <div class="row">
            <div class="col-md-4 control-label">
                Sec PKG Production plant <img title="Sec PAK Proudction Plant. xxxxxxxxxxxxxxxx" style="width:15px;" src="~/Content/img/info.png"> :
            </div>
            <div class="col-md-4 control-label">
                Catching method : <img class="cls_btn_pa_catching_method_multiple_static imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>
            <div class="col-md-4 control-label cls_lbl_pa_direction_of_sticker">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*@Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_sec_pkg_production_plant" }, { "cls_txtarea", "cls_input_sec_pkg_production_plant" } })*@
                <input type="text" disabled class="form-control cls_input_pa_sec_pkg_production_plant" value="" />
            </div>
            <div class="col-md-4">
                @*@Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_catching_method" }, { "cls_txtarea", "cls_input_pa_catching_method" } })  // ticke#425737 commented by aof*@
                <input disabled type="text" style="display: inline-block;width: 400px;" class="cls_txt_pa_catching_method_multiple_static form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_catching_method_multiple_static btn btn-warning">
                    ?
                </button>*@
                
                @*  // ticke#425737 added by aof *@
                @*<div style="display:none;" class="row tr_tfartwork_pa_catching_method_multiple tr_tfartwork_pa_catching_method_multiple_static">
                    <div class="col-md-10">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_catching_method_multiple cls_lov_pa_catching_method_multiple_static " }, { "cls_txtarea", "cls_input_pa_catching_method_multiple cls_input_pa_catching_method_multiple_static" } })
                    </div>
                    <div class="col-md-1" style="padding-left: 0px;">
                        <img class="cls_img_lov_tfartwork_pa_add_catching_method_multiple imgadd" title="Add" style="cursor:pointer;" src="~/Content/img/ico_add.png" />
                        <img class="cls_img_lov_tfartwork_pa_delete_catching_method_multiple imgdelete" title="Delete" style="cursor:pointer;display:none;" src="~/Content/img/ico_delete.png" />
                    </div>
                </div>*@
                @*  // ticke#425737 added by aof *@
            </div>

            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_direction_of_sticker" }, { "cls_txtarea", "cls_input_pa_direction_of_sticker" } })
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 control-label">
                Symbol/Nutrient/Health claim @*<span style="color: red;">*</span>*@: <img class="cls_btn_pa_symbol_multiple_static imgsearch" style="cursor:pointer;" src="~/Content/img/ico_search_data.png" />
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <input disabled type="text" style="display: inline-block;width:90%;" class="cls_txt_pa_symbol_multiple_static form-control" />
                @*<button type="button" style="padding: 3px 10px;display: inline-block;" class="cls_btn_pa_symbol_multiple_static btn btn-warning">
                    ?
                </button>*@
                
                @*<div style="display:none;" class="row tr_tfartwork_pa_symbol_multiple tr_tfartwork_pa_symbol_multiple_static">
                    <div class="col-md-10">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_symbol_multiple cls_lov_pa_symbol_multiple_static " }, { "cls_txtarea", "cls_input_pa_symbol_multiple cls_input_pa_symbol_multiple_static" } })
                    </div>
                    <div class="col-md-1" style="padding-left: 0px;">
                        <img class="cls_img_lov_tfartwork_pa_add_symbol_multiple imgadd" title="Add" style="cursor:pointer;" src="~/Content/img/ico_add.png" />
                        <img class="cls_img_lov_tfartwork_pa_delete_symbol_multiple imgdelete" title="Delete" style="cursor:pointer;display:none;" src="~/Content/img/ico_delete.png" />
                    </div>
                </div>*@
            </div>


        </div>



        <hr />

        <div class="row">
            <div class="col-md-4 control-label">
                Printing style of primary :
            </div>
            <div class="col-md-4 control-label">
                Customer nominate vendor :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_nominate" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_nominate" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                First info group :
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_printing_style_of_primary" }, { "cls_txtarea", "cls_input_pa_printing_style_of_primary" } })
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_nominate" value="" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_first_info" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                Printing style of secondary :
            </div>
            <div class="col-md-4 control-label">
                Customer nominate colour(Pantone) :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_nominate_colour" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_nominate_colour" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                PIC MKT :
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_pa_printing_style_of_secondary" }, { "cls_txtarea", "cls_input_pa_printing_style_of_secondary" } })
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_nominate_colour" value="" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_pic_mkt" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                @*<label style="font-weight: normal;margin-bottom: 0px;" class="cls_lbl_pa_customer_design"></label>*@
                Customer's design
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_design" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_design" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                Customer's barcode scanable :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_barcode" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_barcode" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                Destination :
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_design" value="" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_barcode" value="" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_country" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                Customer's spec :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_spec" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_spec" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                Customer's barcode spec :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_barcode_spec" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_barcode_spec" value="No">&nbsp;No</label>
            </div>
            <div class="col-md-4 control-label">
                @*Complete infogroup :*@
                SO:
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_spec" value="" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_barcode_spec" value="" />
            </div>

            <div class="col-md-4">
                @*<input type="text" class="form-control cls_txt_pa_complete_infogroup" value="" />*@
                <input type="text" class="form-control cls_txt_pa_so" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                Customer's size :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_size" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_size" value="No">&nbsp;No</label>
            </div>

            <div class="col-md-4 control-label">
                Remark/Note of PA :
            </div>
            <div class="col-md-4 control-label">
                SOPlant :
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_customer_size" value="" />
            </div>

            <div class="col-md-4">
                <textarea rows="2" maxlength="1000" class="cls_txt_pa_remark form-control"></textarea>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control cls_txt_pa_soplant" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                @*Production/Expiry date system :*@
            </div>

            <div class="col-md-4 control-label">
                @*Cust ingre./Nutrition/Analysis :
            <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_ingre" value="Yes">&nbsp;Yes</label>&nbsp;
            <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_ingre" value="No">&nbsp;No</label>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*<input type="text" class="form-control cls_txt_pa_production_expiry_date_system" value="" />*@
            </div>

            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 control-label">
                @*Waste percent :*@
            </div>
            <div class="col-md-4 control-label">
                @*Package quantity :*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*<input type="text" class="form-control cls_txt_pa_waste_percent" value="" />*@
            </div>
            <div class="col-md-4">
                @*<input type="text" class="form-control cls_txt_pa_package_quantity" value="" />*@
            </div>
        </div>

        <div class="row">

         
            <div class="col-md-4 control-label">

            </div>
        </div>
        <div class="row">

          
            <div class="col-md-4">

            </div>
        </div>

        <div class="row">


            <div class="col-md-4 control-label">
                @*Seriousness of colour printing :
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_seriousness" value="Yes">&nbsp;Yes</label>&nbsp;
                <label style="font-weight: normal;margin-bottom: 0px;"><input type="radio" name="pa_rdo_customer_seriousness" value="No">&nbsp;No</label>*@
            </div>
            <div class="col-md-4 control-label">
                @*Courier no. :*@
            </div>

        </div>
        <div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                @*<input type="text" class="form-control cls_txt_pa_courier_no" value="" />*@
            </div>
        </div>

    </form>
</div>