@model PLL.Controllers.PermissionModel

@{
    ViewBag.Title = "Permission setting";
}
<style>
    .display {
        padding-top: 0px;
    }

    #header1 {
        background-color: #3276b1;
        font-size: 18px;
        color: #fff;
        padding: 5px;
        text-align: center;
    }
</style>
<h4>Permission setting</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <div id="header1">Role</div>
        <table class="table_role display" style="width:100%">
            <thead>
                <tr>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ObjRole)
                {
                    <tr>
                        <td>
                            <label class="radio-inline"><input value="@item.ROLE_ID" name="role" type="radio">@item.DESCRIPTION</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div id="header1">WF function</div>
        <table class="table_wf_function display" style="width:100%">
            <thead>
                <tr>
                    <th>WF function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ObjWFFunction)
                {
                    <tr>
                        <td>
                            <label class="checkbox-inline"><input value="@item.CODE" type="checkbox">@item.DESCRIPTION</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div id="header1">Report</div>
        <table class="table_report display" style="width:100%">
            <thead>
                <tr>
                    <th>Report</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ObjReport)
                {
                    <tr>
                        <td>
                            <label class="checkbox-inline"><input value="@item.CODE" type="checkbox">@item.DESCRIPTION</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="col-md-3">
        <div id="header1">Master data</div>
        <table class="table_master_data display" style="width:100%">
            <thead>
                <tr>
                    <th>Master data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ObjMasterData)
                {
                    <tr>
                        <td>
                            <label class="checkbox-inline"><input value="@item.CODE" type="checkbox">@item.DESCRIPTION</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        var table_wf_function;
        var table_report;
        var table_master_data;
        $(document).ready(function () {

            var table_role = $('.table_role').DataTable({
                paging: false,
                "language": {
                    "search": " "
                },
            });

            table_wf_function = $('.table_wf_function').DataTable({
                paging: false,
                "language": {
                    "search": " "
                },
                columnDefs: [
                    {
                        targets: [0],
                        orderDataType: 'dom-checkbox'
                    }
                ],
                "order": [[0, 'desc']],
            });

            table_report = $('.table_report').DataTable({
                paging: false,
                "language": {
                    "search": " "
                },
                columnDefs: [
                    {
                        targets: [0],
                        orderDataType: 'dom-checkbox'
                    }
                ],
                "order": [[0, 'desc']],
            });

            table_master_data = $('.table_master_data').DataTable({
                paging: false,
                "language": {
                    "search": " "
                },
                columnDefs: [
                    {
                        targets: [0],
                        orderDataType: 'dom-checkbox'
                    }
                ],
                "order": [[0, 'desc']],
            });

            $('.dataTables_filter').css('width', '100%');
            $('.dataTables_filter label').css('width', '100%');
            $('.dataTables_filter input').css('width', '100%');
            $('.dataTables_filter input').css('margin-left', '0');
            $('.dataTables_filter input').css('margin-top', '5px');
            $('.dataTables_filter input').attr("placeholder", "Type here to search");

            $('.table_role tbody tr:first').find('input:radio').prop("checked", "true");
            var firstRoleId = $('.table_role tbody tr:first').find('input:radio').val();
            getpermission(firstRoleId);

            $("input:radio").change(function () {
                getpermission($(this).val());
            });

            $("input:checkbox").change(function () {
                var myurl = '/api/permission/info';
                var mytype = 'POST2';
                var jsonObj = new Object();
                jsonObj.data = [];
                var item = {};
                item["ROLE_ID"] = $("input[name='role']:checked").val();
                item["PERMISSION_CODE"] = $(this).val();
                item["CREATE_BY"] = UserID;
                item["UPDATE_BY"] = UserID;
                if (this.checked) {
                    item["ACTION"] = "I";
                }
                else {
                    item["ACTION"] = "D";
                }
                jsonObj.data = item;
                var mydata = jsonObj;
                myAjax(myurl, mytype, mydata);
            });
        });

        function callback_permission_info(res) {
            for (var i = 0; i < res.data.length; i++) {
                var v = res.data[i];
                $("input:checkbox[value=" + v.PERMISSION_CODE + "]").prop("checked", true);
            }

            table_wf_function.order([0, 'desc']).draw();
            table_report.order([0, 'desc']).draw();
            table_master_data.order([0, 'desc']).draw();
        }

        function getpermission(roleId) {
            $("input:checkbox").prop("checked", false);
            var myurl = '/api/permission/info?data.role_id=' + roleId;
            var mytype = 'GET';
            var mydata = null;
            myAjax(myurl, mytype, mydata, callback_permission_info);
        }


    </script>
}
