@model DAL.ART_WF_DELEGATE
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create delegate setting";
}

<h4>Create delegate setting</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Delegate from :</label>
            <div class="col-md-10">
                @{
                    using (var context = new DAL.ARTWORKEntities())
                    {
                        @Html.TextBoxFor(model => model.CURRENT_USER_ID, new { @Value = BLL.Services.CNService.GetUserName(BLL.Services.CNService.GetUserID2(User.Identity.GetUserName(), context), context), @class = "form-control", disabled = "disabled" })
                    }
                }
                @Html.ValidationMessageFor(model => model.CURRENT_USER_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Delegate to :</label>
            <div class="col-md-10">
                @{
                    using (var context = new DAL.ARTWORKEntities())
                    {
                        @Html.DropDownListFor(model => model.TO_USER_ID,
                                        new SelectList(BLL.Services.CNService.GetAllInternalUser(context),
                                        "USER_ID", "DISPLAY_TXT"),
                                        "Select...",
                                        new { @class = "form-control" })
                    }
                }
                @Html.ValidationMessageFor(model => model.TO_USER_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Delegate date from :</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FROM_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control cls_my_datepicker" } })
                @Html.ValidationMessageFor(model => model.FROM_DATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Delegate date to :</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TO_DATE, new { htmlAttributes = new { @class = "form-control cls_my_datepicker" } })
                @Html.ValidationMessageFor(model => model.TO_DATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Reason for delegate :</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.REASON, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(model => model.REASON, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.IS_ACTIVE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IS_ACTIVE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IS_ACTIVE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CREATE_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATE_DATE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CREATE_DATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CREATE_BY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATE_BY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CREATE_BY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UPDATE_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UPDATE_DATE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UPDATE_DATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UPDATE_BY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UPDATE_BY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UPDATE_BY, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button> |
                @Html.ActionLink("Back to list", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            bind_lov_no_ajax('#TO_USER_ID', '', '');
        });
    </script>
}


