@model DAL.ART_M_TEMPLATE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ART_M_TEMPLATE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEMPLATE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEMPLATE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_BY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TEMPLATE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
