<!-- Modal Submit PA -->
<div class="modal" id="pa_submit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Submit</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-11">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_file_template" } })
                        </div>
                        <div class="col-md-1 control-label">
                            <a href="@Url.Action("DownloadFileTemplate","FileUpload")" style="" class="cls_link_load_file_template cls_hand" target="_blank">Download</a>
                        </div>
                    </div>
                    <!--Send to PG-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="cls_header_chk_pa cls_chk_send_pg">Send to PG (Ask for dieline and assign vendor)
                                @*<input type="checkbox" class="cls_header_chk_pa cls_chk_send_pg" id="vn_rdo_rs1" ">Send to PG*@
                            </label>
                        </div>
                        <div class="panel-body cls_body_send_pg" style="display:none;">
                            @*<div class="row">
                                    <div class="col-md-3 control-label">
                                        <label class="checkbox-inline"><input type="checkbox" class="cls_chk_for_dl">Ask for dieline and assign vendor</label>
                                    </div>
                                </div>*@

                            @*<div class="row">
                                    <div class="col-md-3 control-label">
                                        <label class="checkbox-inline"><input type="checkbox" class="cls_chk_assign_vn">For assign vendor</label>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_pg_by_pa_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_pg" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_PG" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to marketing-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_pa cls_chk_send_mk">Send to marketing</label>
                            <!--ticket 445558 by aof add cls_row_header_tfartwork_mk_msg,cls_lbl_header_tfartwork_mk_msg-->
                            <div class="row cls_row_header_tfartwork_mk_msg">
                                <div style="color:red;font-weight:bold;" class="col-md-12 control-label cls_lbl_header_tfartwork_mk_msg"></div>
                            </div>
                            <!--ticket 445558 by aof add cls_row_header_tfartwork_mk_msg,cls_lbl_header_tfartwork_mk_msg-->
                        </div>
                        <div class="panel-body cls_body_send_mk" style="display:none;">

                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_mk_by_pa_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_mk" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_MK" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Send to QC -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_pa cls_chk_send_qc">Send to QC (Ask for formula/Regulation confirm)</label>
                        </div>
                        <div class="panel-body cls_body_send_qc" style="display:none;">
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    ข้อมูลที่ต้องการให้ตรวจสอบ :
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_2">Nutrition</label>
                                </div>
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_3">Ingredients</label>
                                </div>
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_4">Analysis</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_5">Health claim</label>
                                </div>
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_6">Nutrient claim</label>

                                </div>
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_7">Species</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_8">Catching area / FAO number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" class="cls_chk_qc_9">Others (Detail of all point to comply with regulation of each country  Ex.: picture of fish for each species, symbol, etc.)</label>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_qc_by_pa_other" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cls_txt_send_qc" style="min-height: 80px;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " style="text-align: right">
                                    <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_QC" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                    <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to warehouse-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_pa cls_chk_send_wh">Send to warehouse</label>
                        </div>
                        <div class="panel-body cls_body_send_wh" style="display:none;">
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" name="chkWh" class="cls_chk_stamp">ตรวจสอบพื้นที่ Inkjet/Stamp area</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    <label class="checkbox-inline"><input type="checkbox" name="chkWh" class="cls_chk_direction">ทิศทางการเข้าม้วน (Roll direction)</label>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <label class="error cls_error" for="chkWh"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_wh_by_pa_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_wh" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_WH" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to planning-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_pa cls_chk_send_plan">Send to planning (Ask for P/D, Batch no.)</label>
                        </div>
                        <div class="panel-body cls_body_send_plan" style="display:none;">

                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_pn_by_pa_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_plan" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_PN" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to pp-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline"><input type="checkbox" class="cls_header_chk_pa cls_chk_send_pp">Send to PP</label>
                            <div class="row cls_row_header_tfartwork_po_msg">
                                <div style="color:red;font-weight:bold;" class="col-md-12 control-label cls_lbl_header_tfartwork_po_msg"></div>
                            </div>
                        </div>
                        <div class="panel-body cls_body_send_pp" style="display:none;">
                            <div class="row cls_req_shade_pa_pop">
                                <div class="col-md-3 control-label">
                                    Request shade limit for reference :
                                </div>
                                <div class="col-md-9">
                                    <label class="radio-inline"><input type="radio" name="pa_rdo_request_shade_limit" value="1">Yes</label>
                                    <label class="radio-inline"><input type="radio" name="pa_rdo_request_shade_limit" value="0">No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 control-label">
                                    Reason for revise :
                                </div>
                                <div class="col-md-9">
                                    @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_pp_by_pa_other" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_pp" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_PP" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="cls_btn_submit btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal_tfartwork_pa_sendback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal_in_modal vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="popup_attachment_label">Send back</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2 control-label">Send to <span style="color: red;">*</span>:</div>
                        <div class="col-md-10">
                            <label class="radio-inline"><input value="1" checked type="radio" name="cls_rdo_pa_sendback">Creator request form</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 control-label"></div>
                        <div class="col-md-10">
                            <label class="radio-inline" style="width:500px;">
                                <input value="0" type="radio" name="cls_rdo_pa_sendback">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_marketing" } })
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 control-label">
                            Send for (Reason) :
                        </div>
                        <div class="col-md-10">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cls_txtedt_tfartwork_pa_sendback_remark" style="min-height: 80px;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " style="text-align: right">
                                    <a class="cls_hand" data-toggle="modal" data-go_to_step="SEND_BACK_MK" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                    <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cls_btn_tfartwork_pa_sendback_submit">Submit</button>
                    <button type="button" class="btn btn-default cls_btn_tfartwork_pa_sendback_close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_tfartwork_pa_terminate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal_in_modal vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="popup_attachment_label">Terminate workflow</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 control-label">
                            Reason :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_artwork_reason_terminate" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 control-label">
                            Comment for terminate workflow :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cls_txtedt_tfartwork_pa_terminate_remark" style="min-height: 80px;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cls_btn_tfartwork_pa_terminate_submit">Submit</button>
                    <button type="button" class="btn btn-default cls_btn_tfartwork_pa_terminate_close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_tfartwork_history_terminate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal_in_modal vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="popup_attachment_label">Terminate workflow</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 control-label">
                            Reason for terminate workflow<span style="color:red;">*</span> :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cls_txtedt_tfartwork_history_terminate_remark" style="min-height: 80px;"></div>
                        </div>
                    </div>
                    <input disabled type="text" class="cls_aw_sub_id_terminate cls_hide form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cls_btn_tfartwork_history_terminate_submit">Submit</button>
                    <button type="button" class="btn btn-default cls_btn_tfartwork_history_terminate_close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Send to customer -->
<div class="modal" id="send_to_customer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send to customer</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-11">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_file_template" } })
                        </div>
                        <div class="col-md-1 control-label">
                            <a href="@Url.Action("DownloadFileTemplate","FileUpload")" style="" class="cls_link_load_file_template cls_hand" target="_blank">Download</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="cls_header_chk_customer cls_chk_send_review_customer">Send to customer for review artwork
                            </label>
                        </div>
                        <div class="panel-body cls_body_send_review_customer cls_hide">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            Reason :
                                        </div>
                                        <div class="col-md-9">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" disabled class="cls_chk_formandlabelraw_customer" name="cus_reason_modal_chk" id="cus_reason_modal_rdo1">Formulations and Labelling Law in artwork details
                                            </label>
                                        </div>
                                    </div>

                                    <div class="cls_body_formandlabelraw_customer  cls_hide">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <span class="col-lg-9">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" disabled class="cls_chk_qc_changedetails_customer" name="cus_form_modal_chk" id="cus_form_modal_rdo1">Artwork details are non-compliance with the formulations and regulations (MUST BE CHANGED)@*QC Team suggests to change as below details*@
                                                    </label>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="cls_body_qc_changedetails_customer  cls_hide">

                                            <div class="cls_nutri_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Nutrition</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_nutri_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_nutri_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_ingri_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Ingredients</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_ingre_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_ingre_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_analysis_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Analysis</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_analysis_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_analysis_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_health_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Health claim</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_health_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_health_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_nutri_claim_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Nutrient claim</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_nutclaim_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_nutclaim_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_species_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Species</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_species_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_species_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_catch_fao_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Catching area / FAO number</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_catching_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_catching_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_check_detail_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Others (Detail of all point to comply with regulation of each country  Ex.: picture of fish for each species, symbol, etc.)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9 disabled_control">
                                                            <div class="cls_remark_check_detail_txt_comment_cus_pop" style="min-height: 80px;"></div>
                                                            @*<textarea class="form-control cls_remark_health_txt_comment_cus_pop" rows="4"></textarea>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cls_comment_qc_cus_pop cls_hide">
                                                <div class="row">
                                                    <div class="col-md-offset-3  col-md-9">
                                                        <span class="col-lg-9">Artwork details are recommended to change, which are upon to your consideration.</span>@*Comment by QC*@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <div class="col-lg-9">
                                                            @*<div class="cls_remark_comment_qc_cus_pop" style="min-height: 80px;"></div>*@
                                                            <textarea class="form-control cls_remark_comment_qc_cus_pop" rows="4" disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <span class="col-lg-9">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="cls_chk_noncompliance_customer" name="cus_form_modal_chk" id="cus_form_modal_rdo2">Artwork details are non-compliance with the labelling law (MUST BE CHANGED)@*Artwork details are non compliance with the labelling law*@
                                                    </label>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="cls_body_noncompliance_customer  cls_hide">
                                            <div class="row">
                                                <div class="col-md-offset-3">
                                                    <div class="col-lg-3">
                                                        <div class="col-md-12">
                                                            Remark for non compliance <br /> with labelling law :
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <textarea class="form-control cls_remark_noncompliance_cus_pop" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-3">
                                                <div class="col-md-2">
                                                    Remark :
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <textarea class="form-control cls_remark_formandlabelraw_cus_pop" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-8" style="text-align: right">
                                                <span class="col-lg-11">
                                                    <span class="col-lg-12">
                                                        <a class="cls_hand" data-go_to_step="SEND_CUS_REVIEW" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                        <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-offset-3 col-md-9">
                                                <label class="error cls_error" for="cus_form_modal_chk"></label>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="cls_chk_remark_adjustment_customer" name="cus_reason_modal_chk" id="cus_reason_modal_rdo2">Artwork details adjustment (No impact on labelling law)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="cls_body_adjustment_customer cls_hide">
                                        <div class="row">
                                            <div class="col-md-offset-3">
                                                <span class="col-lg-2">
                                                    Remark :
                                                </span>
                                            </div>
                                            <div class="col-md-7">
                                                <textarea class="form-control cls_remark_adjustment_cus_pop" rows="4"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-offset-8" style="text-align: right">
                                                <span class="col-lg-11">
                                                    <span class="col-lg-12">
                                                        <a class="cls_hand" data-go_to_step="SEND_CUS_REVIEW" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                        <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-offset-3 col-md-9">
                                            <label class="error cls_error" for="cus_reason_modal_chk"></label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 control-label">
                                            To customer :
                                        </div>
                                        <div class="col-md-9">
                                            <textarea disabled class="form-control cls_to_customer_cus_pop" rows="4"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 control-label">
                                            Cc :
                                        </div>
                                        <div class="col-md-9">
                                            <textarea class="form-control cls_cc_customer_cus_pop" rows="4" disabled></textarea>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to request ref-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="cls_header_chk_customer cls_chk_send_req_ref">Send to customer for request reference letter
                            </label>
                        </div>
                        <div class="panel-body cls_body_send_req_ref cls_hide">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_req_ref" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-go_to_step="SEND_CUS_REQ_REF" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to customer for approve print master-->
                    <div class="cls_for_pa_only">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="cls_header_chk_customer cls_chk_send_approve_print">Send to customer for approve print master
                                </label>
                            </div>
                            <div class="panel-body cls_body_send_approve_print cls_hide">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cls_txt_send_print" style="min-height: 80px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 " style="text-align: right">
                                                <a class="cls_hand" data-go_to_step="SEND_CUS_PRINT" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 control-label">
                                                To customer :
                                            </div>
                                            <div class="col-md-9">
                                                <textarea class="form-control cls_to_customer_cus_pop" rows="4" disabled></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 control-label">
                                                Cc :
                                            </div>
                                            <div class="col-md-9">
                                                <textarea class="form-control cls_cc_customer_cus_pop" rows="4" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Send to customer for approve shade limit-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="cls_header_chk_customer cls_chk_send_approve_shade">Send to customer for approve shade limit
                                </label>
                            </div>
                            <div class="panel-body cls_body_send_approve_shade cls_hide">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2 control-label">
                                                Courier :
                                            </div>
                                            <div class="col-md-10">
                                                <textarea class="form-control cls_courier_cus_pop" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cls_txt_send_shade" style="min-height: 80px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 " style="text-align: right">
                                                <a class="cls_hand" data-go_to_step="SEND_CUS_SHADE" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Send shade limit to customer for reference-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="cls_header_chk_customer cls_chk_send_shade_ref">Send shade limit to customer for reference
                                </label>
                            </div>
                            <div class="panel-body cls_body_send_shade_ref cls_hide">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2 control-label">
                                                Courier :
                                            </div>
                                            <div class="col-md-10">
                                                <textarea class="form-control cls_courier_cus_pop" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cls_txt_send_shade_ref" style="min-height: 80px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 " style="text-align: right">
                                                <a class="cls_hand" data-go_to_step="SEND_CUS_REF" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                                <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="cls_btn_submit_customer_modal btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Send to vendor -->
<div class="modal" id="send_to_vendor_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send to vendor</h4>
                </div>
                <div class="modal-body">
                    <div class="row cls_row_txt_copydieline cls_hide">
                        <div style="color:red;font-weight:bold;" class="col-md-12 control-label cls_lbl_copydieline"></div>
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-11">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_file_template" } })
                        </div>
                        <div class="col-md-1 control-label">
                            <a href="@Url.Action("DownloadFileTemplate","FileUpload")" style="" class="cls_link_load_file_template cls_hand" target="_blank">Download</a>
                        </div>
                    </div>
                    <!--Send artwork to vendor-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="cls_header_chk_vendor cls_chk_send_artwork_vendor">Send artwork to vendor
                            </label>
                        </div>
                        <div class="panel-body cls_body_send_artwork_vendor cls_hide">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 control-label">
                                            Reason for revise :
                                        </div>
                                        <div class="col-md-9">
                                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_vn_pm_by_pa_other" } })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_artwork_vendor" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-go_to_step="SEND_VN_PM" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send to vendor for request shade limit-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="cls_header_chk_vendor cls_chk_send_shade">Send to vendor for request shade limit
                            </label>
                        </div>
                        <div class="panel-body cls_body_send_shade cls_hide">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 control-label">
                                            Reason for revise :
                                        </div>
                                        <div class="col-md-9">
                                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_send_for_reason" }, { "cls_txtarea", "cls_input_vn_sl_by_pa_other" } })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cls_txt_send_shade" style="min-height: 80px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: right">
                                            <a class="cls_hand" data-go_to_step="SEND_VN_SL" data-toggle="modal" data-target="#popup_attachment_artwork">Upload attachment</a>&nbsp;&nbsp;&nbsp;
                                            <a class="cls_hand" data-toggle="modal" data-target="#pa_master_template">Copy Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="cls_btn_submit_vendor_modal btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>


 @* by aof 202306 for CR#IGRID_REIM----search primary size"*@
<div class="modal" id="modal_tfartwork_primary_size" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Primary size (IGrid).</h4>
            </div>
            <form>
                <div class="modal-body cls_div_igrid_parimary_size_search">

                    <div class="row">
                        <div class="col-md-2 control-label">
                            Running :
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_code" />
                        </div>
                    
                       
                    </div>

                    <div class="row">
                        <div class="col-md-2 control-label">
                            Code Primary (Digit 9-11):
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_can" />

                        </div>

                        <div class="col-md-2 control-label">
                            Code Container&Lid (Digit 12-13):
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_lid_type" />

                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-2 control-label">
                            Primary size :
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_can_desciption" />
                        </div>
                        <div class="col-md-2 control-label">
                            Container type :
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_container_type" />
                        </div>
                        <div class="col-md-2 control-label">
                            Lid type :
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_txt_primary_size_description_type" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary cls_btn_search">Search</button>
                            <button type="button" class="cls_btn_clear btn btn-danger">Clear</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_tfartwork_primary_size" class="display" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="cls_nowrap">Running</th>
                                        <th class="cls_nowrap">Code Primary (Digit 9-11)</th>
                                        <th class="cls_nowrap">Primary size</th>
                                        <th class="cls_nowrap">Code Container&Lid (Digit 12-13)</th>
                                        <th class="cls_nowrap">Container type</th>
                                        <th class="cls_nowrap">Lid type</th>
                                        <th class="cls_nowrap">THREE_P_ID</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cls_btn_tfartwork_primary_size_select btn btn-primary">Select</button>
                    <button type="button" class="cls_btn_tfartwork_primary_size_close btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
