@using DAL;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Reports";
}
@using (var context = new ARTWORKEntities())
{
    var UserID2 = BLL.Services.CNService.GetUserID2(User.Identity.GetUserName(), context);
    if (BLL.Services.CNService.HasPermission(UserID2, "TRACKING", context))
    {
        <div class="row">
            <div class="col-md-3">
                <div style="padding-bottom: 1px; padding-top: 10px; padding-left:50px; font-size: 16px; font-weight: bold; color: #428bca; text-decoration: none;">
                    Artwork Report.
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Tracking", "TrackingV3", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "TrackingV3", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Tracking report is to track workflow status.
                </div>
            </div>
        </div>
    }

    @*if (BLL.Services.CNService.HasPermission(UserID2, "ENDTOEND", context))
        {
            <div class="col-md-6">
                <div class="col-md-3">
                    <img style="width:120px;" src="~/Content/img/menu_report/ico_end_to_end.png" />
                </div>
                <div class="col-md-9">
                    <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                        @Html.ActionLink("End to end", "EndToEnd", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                        @Html.ActionLink("report", "EndToEnd", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                    </div>
                    <div style="padding-top:5px;">
                        Used for list the time spending from end to end process, since the request submitted to workflow completed.
                    </div>
                </div>
            </div>
        }*@

    if (BLL.Services.CNService.HasPermission(UserID2, "ENDTOEND", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_end_to_end.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("End to end", "EndToEndV2", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "EndToEndV2", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Used for list the time spending from end to end process, since the request submitted to workflow completed.
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "COLLABORATION", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_cus_vendor.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Customer and vendor", "VendorCustomerCollaboration", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("collaboration report", "VendorCustomerCollaboration", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    The reports list all task which is send to customer and vendor to measure the KPI.
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "SUMMARY", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_summary.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Process summary", "Summary", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "Summary", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Provide summary of workflow which is initiated in the system.
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "WAREHOUSE", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_warehouse.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @*@Html.ActionLink("Packaging report", "Warehouse", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                        @Html.ActionLink("for warehouse", "Warehouse", "Report", null, new { @style = "color:gray;text-decoration: none;" })*@
                    @Html.ActionLink("Warehouse", "Warehouse", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "Warehouse", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    The packaging report shows the relationship betweens sales order and purchase order. The user can user this report instread doculink (T-code J6NY)
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "OUTSTANDING", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_warehouse.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Outstanding", "Outstanding", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "Outstanding", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Artwork outstanding report is used for monitoring the outstanding workflow tasks by sales order.
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "MATCONTROL", context))
    {
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Lists packaging material", "ListsStatusofPackagingMaterial", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "ListsStatusofPackagingMaterial", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Lists packaging material report is used for monitoring material status and lock work flow artwork.
                </div>
            </div>
        </div>
    }

    if (BLL.Services.CNService.HasPermission(UserID2, "KPI", context))
    {

        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_end_to_end.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("KPI", "KPI", "Report", null, new { @style = "color:#428bca;text-decoration: none;" })
                    @Html.ActionLink("report", "KPI", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Used for show evaluation results of employee.
                </div>
            </div>
        </div>
    }


    <div class="col-md-6">
        <div style="padding-bottom: 1px; padding-top: 10px; font-size: 16px; font-weight: bold; color: #F08705; text-decoration: none;">

        </div>
        <div class="col-md-9">

        </div>
    </div>


    if (BLL.Services.CNService.HasPermission(UserID2, "IGRID", context))
    {

        <div class="row">
            <div class="col-md-3">
                <div style="padding-bottom: 1px; padding-top: 10px; padding-left:50px; font-size: 16px; font-weight: bold; color:#F08705; text-decoration: none;">
                    IGrid Report.
                </div>
            </div>
        </div>
        <br />

        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Overview", "Overview", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "Overview", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Overview report is to track workflow status.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("History Log", "History", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "History", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    History report is to track workflow status.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("IGrid Tracking", "TrackingIGrid", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "TrackingIGrid", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Tracking IGrid report is to track workflow status.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Status of all material", "MatStatus", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "MatStatus", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Status of all PKG Material.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Overall Master Data Value and Status", "OverallMaster", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "OverallMaster", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Overall master data value & status.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink(" List all affected Materials", "ImpactedMat_Desc", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "ImpactedMat_Desc", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    List all affected Materials.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("IGrid Summary", "IGridSummary", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "IGridSummary", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    IGrid summary.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-3">
                <img style="width:50%;" src="~/Content/img/menu_report/ico_tracking.png" />
            </div>
            <div class="col-md-9">
                <div style="padding-bottom:1px;padding-top:10px;font-size:16px;font-weight:bold;border-bottom:2px solid lightgray;">
                    @Html.ActionLink("Master Data Change Log", "MasterDataChangeLog", "Report", null, new { @style = "color:#F08705;text-decoration: none;" })
                    @Html.ActionLink("report", "MasterDataChangeLog", "Report", null, new { @style = "color:gray;text-decoration: none;" })
                </div>
                <div style="padding-top:5px;">
                    Master data change log.
                </div>
            </div>
        </div>

    }

}
