@{
    ViewBag.Title = "Master data change log report";
}

<div class="cls_report_master_change_log">
    <div class="panel-default">
        <div class="panel-heading cls_hand cls_div_search_criteria">
            <h3 class="panel-title">Master data change log report</h3>
        </div>

        <div class="panel-body cls_div_body_search_criteria" style="padding:0px;padding-top:10px;">
            <form>
                <div class="row">

                    <div class="col-md-2 control-label">
                        Date From  <span style="color:red;">*</span>:
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-5" style="padding-left:0px;">
                            @*@{DateTime firstDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);}*@
                            @{DateTime firstDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);}
                            <input value="@firstDay.ToString("dd/MM/yyyy")" type="text" class="cls_master_change_log_from cls_my_datepicker form-control" placeholder="dd/mm/yyyy" />
                        </div>
                        <div class="col-md-2 control-label">
                            to  <span style="color:red;">*</span>:
                        </div>
                        <div class="col-md-5" style="padding-left:0px;padding-right:0px;">
                            @*<input value="@firstDay.AddMonths(1).AddDays(-1).ToString("dd/MM/yyyy")" type="text" class="cls_master_change_log_to cls_my_datepicker form-control" placeholder="dd/mm/yyyy" />*@
                            <input value="@firstDay.ToString("dd/MM/yyyy")" type="text" class="cls_master_change_log_to cls_my_datepicker form-control" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>


                    <div class="col-md-2 control-label">
                        Master Name :
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_master_name" } })

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-2 control-label">
                        Change by name :
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_change_by_name" } })
                    </div>

                    <div class="col-md-2 control-label ">
                        Keyword :
                    </div>
                    <div class="col-md-4 ">
                        <input type="text" class="form-control cls_txt_master_keyword" placeholder="" />
                        @*<label style="font-weight: normal;font-style:italic;color:gray;" class="cls_lbl_mater_keywork_description">Material No, Material Description, Document No, Brand</label>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label">
                        layout :
                    </div>
                    <div class="col-md-4">
                        <select class="form-control cls_lov_layout" style="width:100%;">
                            <option value="TransMaster" selected>TransMaster</option>
                            <option value="TransChanged">TransChanged</option>

                        </select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="cls_btn_search_master_data_change_log btn btn-primary">Search</button>
                        <button type="button" class="cls_btn_clear_master_data_change_log btn btn-danger">Clear</button>
                        <button type="button" class="btn btn-info cls_btn_export_excel_master_data_change_log">Export excel</button>

                    </div>
                </div>
            </form>
        </div>

    </div>

    <hr style="margin-top:10px;margin-bottom:10px;" />
    <div class="row">
        <div class="col-md-12">

            <div class="cls_div_master_data_change_log">
                <table id="table_master_data_change_log" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="cls_nowrap">Changed_id</th>
                            <th class="cls_nowrap">ShortName</th>
                            <th class="cls_nowrap">Changed_Tabname</th>
                            <th class="cls_nowrap">Changed_Charname</th>
                            <th class="cls_nowrap">Changed_Action</th>
                            <th class="cls_nowrap">Id</th>
                            <th class="cls_nowrap">Value</th>
                            <th class="cls_nowrap">Description</th>
                            <th class="cls_nowrap">Changed_by</th>
                            <th class="cls_nowrap">Changed_on</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="div_table_primary_size cls_hide">
                <table id="table_primary_size_transchanged_view" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="cls_nowrap"></th>
                            <th class="cls_nowrap">Changed_id</th>
                            <th class="cls_nowrap">ShortName</th>
                            <th class="cls_nowrap">Changed_Tabname</th>
                            <th class="cls_nowrap">Changed_Charname</th>
                            <th class="cls_nowrap">Changed_Action</th>
                            <th class="cls_nowrap">Id</th>
                            <th class="cls_nowrap">Running</th>
                            <th class="cls_nowrap">Code of Primary</th>
                            <th class="cls_nowrap">Description of Primary</th>
                            <th class="cls_nowrap">Code of Container&Lid</th>
                            <th class="cls_nowrap">Desc. of Container Type</th>
                            <th class="cls_nowrap">Desc. of Lid Type</th>
                            <th class="cls_nowrap">Inactive</th>
                            <th class="cls_nowrap">Changed_by</th>
                            <th class="cls_nowrap">Changed_on</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="div_table_packstyle cls_hide">
                <table class="display" style="width:100%" id="table_packstyle_transchanged_view">
                    <thead>
                        <tr>
                            <th class="cls_nowrap"></th>
                            <th class="cls_nowrap">Changed_id</th>
                            <th class="cls_nowrap">ShortName</th>
                            <th class="cls_nowrap">Changed_Tabname</th>
                            <th class="cls_nowrap">Changed_Charname</th>
                            <th class="cls_nowrap">Changed_Action</th>
                            <th class="cls_nowrap">Id</th>
                            <th class="cls_nowrap">PrimaryCode</th>
                            <th class="cls_nowrap">GroupStyle</th>
                            <th class="cls_nowrap">PackingStyle</th>
                            <th class="cls_nowrap">RefStyle</th>
                            <th class="cls_nowrap">PackSize</th>
                            <th class="cls_nowrap">BaseUnit</th>
                            <th class="cls_nowrap">TypeofPrimary</th>
                            <th class="cls_nowrap">Inactive</th>
                            <th class="cls_nowrap">Changed_by</th>
                            <th class="cls_nowrap">Changed_on</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="div_table_plantregistered cls_hide">
                <table class="display" style="width:100%" id="table_plantregistered_transchanged_view">
                    <thead>
                        <tr>
                            <th class="cls_nowrap"></th>
                            <th class="cls_nowrap">Changed_id</th>
                            <th class="cls_nowrap">ShortName</th>
                            <th class="cls_nowrap">Changed_Tabname</th>
                            <th class="cls_nowrap">Changed_Charname</th>
                            <th class="cls_nowrap">Changed_Action</th>
                            <th class="cls_nowrap">Id</th>
                            <th class="cls_nowrap">RegisteredNo</th>
                            <th class="cls_nowrap">Address</th>
                            <th class="cls_nowrap">Plant</th>
                            <th class="cls_nowrap">Inactive</th>
                            <th class="cls_nowrap">Changed_by</th>
                            <th class="cls_nowrap">Changed_on</th>
                        </tr>
                    </thead>
                </table>
            </div>
            @*<div class="cls_div_master_data_change_log">
            <table id="table_master_data_change_log" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th class="cls_nowrap">Changed_id</th>
                    </tr>
                </thead>
            </table>
        </div>*@
        </div>
        </div>

</div>
@section scripts
{
    @Scripts.Render("~/bundles/reportmasterdatachangelog")
}

