@model PLL.Controllers.Master.DecisionReasonModel


@{
    ViewBag.Title = "Decision code (Reason)";
}

<h4>Decision code (Reason)</h4>

<p>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table display" style="width:100%">
    <thead>
        <tr>
            <th style="width:30px;">No.</th>
            <th>
                Workflow
            </th>
            <th>
                Step
            </th>
            <th>
                Reason
            </th>
            <th style="width:70px;" class="cls_nowrap">
                Is defualt
            </th>
            <th style="width:70px;" class="cls_nowrap">
                Is overdue
            </th>

            <th style="width:70px;" class="cls_nowrap">
                Is active
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CREATE_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CREATE_BY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UPDATE_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UPDATE_BY)
                </th>*@
            <th style="width:50px;">Action</th>
        </tr>
    </thead>

    @foreach (var item in Model.ObjItem)
    {
        <tr>
            <td></td>
            <td>
                @if (item.WF == "M")
                {
                    <span>Mockup</span>
                }
                else if (item.WF == "A")
                {
                    <span>Artwork</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DISPLAY_TXT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IS_DEFAULT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IS_OVERDUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IS_ACTIVE)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CREATE_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREATE_BY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPDATE_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPDATE_BY)
                </td>*@

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ART_M_DECISION_REASON_ID })
                @*@Html.ActionLink("Details", "Details", new { id = item.ART_M_DECISION_REASON_ID }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ART_M_DECISION_REASON_ID })*@
            </td>
        </tr>
    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('.table').DataTable({
                "scrollX": true,
                "columnDefs": [
                    { "searchable": false, "orderable": false, "targets": 0 },
                    { "searchable": false, "orderable": false, "targets": 7 },
                ],
                stateSave: true,
                "order": [[1, 'asc']],
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

    </script>
}