@model IEnumerable<DAL.ART_M_STEP_ARTWORK>

@{
    ViewBag.Title = "Step and duration for artwork workflow";
}

<h4>
    Step and duration for artwork workflow
</h4>

@*<p>
        @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
    </p>*@

<table class="table display" style="width:100%">
    <thead>
        <tr>
            <th style="width:30px;">No.</th>
            @*<th>
                    Step code
                </th>*@
            <th>
                Step name
            </th>
            <th>
                Step description
            </th>
            <th class="cls_nowrap">
                Duration (Days)
            </th>
            <th class="cls_nowrap">
                Duration extend (Days)
            </th>
            @*<th class="cls_nowrap">Response by</th>*@
            <th style="width:50px;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.STEP_ARTWORK_CODE)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.STEP_ARTWORK_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STEP_ARTWORK_DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURATION_EXTEND)
                </td>
                @*<td>
                        @if (item.ROLE_ID_RESPONSE > 0)
                        {
                            @ART_M_ROLE_SERVICE.GetByROLE_ID(item.ROLE_ID_RESPONSE).DESCRIPTION
                        }
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.STEP_ARTWORK_ID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('.table').DataTable({
                "scrollX": true,
                "columnDefs": [
                    { "searchable": false, "orderable": false, "targets": 0 },
                    { "searchable": false, "orderable": false, "targets": 5 },
                ],
                stateSave: true,
                "order": [[1, 'asc']],
                "lengthChange": false,
                "paging": false
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}